

 
  <div id="block-mainpagecontent" class="block block-system block-system-main-block" style="margin-top: 100px;">
    <div class=" ds-1col-filters clearfix">
      <div class="block-region-ds-content">
        <div class="views-element-container block block-views block-views-blocktrending-page">
          <div>
            <!-- end page title -->
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3" style="margin: 20px;">
                
                {{!-- <button onclick="showAllHeros()" class="btn btn-dark btn-secondary btn-rounded btn-block">Heros</button> --}}
                {{!-- <button onclick="showAllRanks()"  class="btn btn-dark btn-secondary btn-rounded btn-block">Ranks</button> --}}
                <button onclick="showAllNews()" class="btn btn-dark btn-secondary btn-rounded btn-block">News</button>
                <button onclick="showAllArticles()"  class="btn btn-dark btn-secondary btn-rounded btn-block">Articles</button>
                <button onclick="showAllCompanies()" class="btn btn-dark btn-secondary btn-rounded btn-block">Companies</button>
                <button onclick="showAllServices()"  class="btn btn-dark btn-secondary btn-rounded btn-block">Services</button>
                <button onclick="showAllGames()" class="btn btn-dark btn-secondary btn-rounded btn-block">Games</button>
                <button onclick="showAllWarriors()" class="btn btn-dark btn-secondary btn-rounded btn-block">Warriors</button>
                <button onclick="showAllAbouts()" class="btn btn-dark btn-secondary btn-rounded btn-block">About</button>
                {{!-- <button onclick="showAllSlides()" class="btn btn-dark btn-secondary btn-rounded btn-block">Slides</button> --}}
              </div>
              
              <div id="page_content" style="margin: 10px; float:left;" class="col-xl-9 col-lg-9 col-md-9 col-sm-9 page_content">
               
              </div>
            </div>
          </div>
        </div>
                    
      </div>
    </div>
  </div>
<script type="text/javascript">
 
  var showNews = function () {
    var url = '/settings/news/list';
    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        //alert(response[0]['author']);
        $('.page_content').html('');
        $('.page_content').html(response);
        initDataTable('basic-datatable');
      }
    });
  }
  var showAllGames = function () {
    var url = '/settings/games/list';
    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        //alert(response[0]['author']);
        $('.page_content').html('');
        $('.page_content').html(response);
        initDataTable('basic-datatable');
      }
    });
  }
  var showAllWarriors = function () {
    var url = '/settings/warriors/list';
    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        //alert(response[0]['author']);
        $('.page_content').html('');
        $('.page_content').html(response);
        initDataTable('basic-datatable');
      }
    });
  }
  var showAllSlides = function () {
    var url = '/settings/slides/list';
    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        //alert(response[0]['author']);
        $('.page_content').html('');
        $('.page_content').html(response);
        initDataTable('basic-datatable');
      }
    });
  }
  var showAllAbouts = function () {
    var url = '/settings/abouts/list';
    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        //alert(response[0]['author']);
        $('.page_content').html('');
        $('.page_content').html(response);
        initDataTable('basic-datatable');
      }
    });
  }
  var showAllNews = function () {
    var url = '/settings/news/list';
    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        //alert(response[0]['author']);
        $('.page_content').html('');
        $('.page_content').html(response);
        initDataTable('basic-datatable');
      }
    });
  }
   var showAllServices = function () {
    var url = '/settings/services/list';
    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        //alert(response[0]['author']);
        $('.page_content').html('');
        $('.page_content').html(response);
        initDataTable('basic-datatable');
      }
    });
  }
  var showAllCompanies = function () {
    var url = '/settings/companies/list';
    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        //alert(response[0]['author']);
        $('.page_content').html('');
        $('.page_content').html(response);
        initDataTable('basic-datatable');
      }
    });
  }
  var showAllArticles = function () {
    var url = '/settings/articles/list';
    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        //alert(response[0]['author']);
        $('.page_content').html('');
        $('.page_content').html(response);
        initDataTable('basic-datatable');
      }
    });
  }
  var showAllGroups = function () {
    var url = '/settings/groups/list';
    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        //alert(response[0]['author']);
        $('.page_content').html('');
        $('.page_content').html(response);
        initDataTable('basic-datatable');
      }
    });
  }
  // Show All The Services
  showNews();
</script>
