

                    <div id="block-mainpagecontent" class="block block-system block-system-main-block"
                        style="margin-top: -5px;">


                        <div class="ds-1col ds-1col-filters clearfix">



                            <div class="block-region-ds-content">
                                <div class="views-element-container block block-views block-views-blocktrending-page">




                                    <div>
                                        <div class="view-trending view-id-trending view-display-id-page js-view-dom-id-dab34e316875bb81f435910ff06c605cd1bff459ac98cacfbbb7daee1aaa9047"
                                            data-once="ajax-pager">

                                            <div class="view-items-outer-wrp">
                                                <div class="view-items-wrp">


                                                    <div data-drupal-views-infinite-scroll-content-wrapper=""
                                                        class="views-infinite-scroll-content-wrapper clearfix">
                                                        {{>news_card}}
                                                    </div>





                                                </div>
                                            </div>

                                            <div style="margin-top: -120px;">

                                                <ul class="js-pager__items pager"
                                                    data-drupal-views-infinite-scroll-pager="">
                                                    <li class="pager__item">
                                                        <a class="button" href="?created=1&amp;page=1"
                                                            title="Load more items" rel="next">Load More</a>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="views-element-container block block-views block-views-blockeck-promos-brand-voice">

                                    <div>
                                        <div
                                            class="view view-eck-promos view-id-eck_promos view-display-id-brand_voice js-view-dom-id-a51e96ab72d1cfbe1abab37304470876dd103f5ae2db40aa72a58497225c5f6f">




                                        </div>
                                    </div>





                                </div>
                            </div>

                        </div>

                    </div>