<div class="view-items-wrp">
                                                    <div data-drupal-views-infinite-scroll-content-wrapper=""
                                                        class="views-infinite-scroll-content-wrapper clearfix">

                                                        {{!-- all items/news blocks --}}
                                                        <div class="trending-page-grid trending-page">

                                                            {{!-- row 1 --}}
                                                            {{#each news}}
                                                                <div class="grid-item position_{{news}} size_1x1">

                                                                    <a data-aos="fade-up"
                                                                        class="c-card--grid-card-trending grid_card_image_text aos-init aos-animate"
                                                                        href="/trending/all?#">

                                                                        <div class="c-card--grid-card-trending__image">

                                                                            <div
                                                                                class="field field--name-thumbnail field--type-entity-reference field--label-hidden field__item">
                                                                                <div class="layout layout--onecol">
                                                                                    <div
                                                                                        class="layout__region layout__region--content">
                                                                                        <img src="/public/images/kick.jpg"
                                                                                            alt="this is alt text that describes the picture in case it cannot load for whatever reason."
                                                                                            loading="lazy" width="5088"
                                                                                            height="3392">



                                                                                    </div>
                                                                                </div>

                                                                            </div>



                                                                        </div>

                                                                        <div class="c-card--grid-card-trending__3-wrapper">
                                                                            <div class="c-card--grid-card-trending__info">
                                                                                <span
                                                                                    class="c-card--grid-card-trending__info-prefix">Fight
                                                                                    Coverage</span>
                                                                                <span
                                                                                    class="c-card--grid-card-trending__info-suffix">
                                                                                    <div
                                                                                        class="field field--name-datetime field--type-datetime field--label-hidden field__item">
                                                                                        {{created}}</div>
                                                                                </span>
                                                                            </div>

                                                                            <div
                                                                                class="c-card--grid-card-trending__2-wrapper">

                                                                                <h3
                                                                                    class="c-card--grid-card-trending__headline e-t5">

                                                                                    Fight By Fight Preview | ORION  youtube:
                                                                                    Kassim vs…
                                                                                </h3>


                                                                                <div
                                                                                    class="c-card--grid-card-trending__body">

                                                                                    <div
                                                                                        class="clearfix text-formatted field field--name-teaser field--type-text-long field--label-hidden field__item">
                                                                                        <p> MatchHeadlines. On Youtube
                                                                                            View March 5. Let's
                                                                                            Break It Down.</p>
                                                                                    </div>

                                                                                </div>



                                                                            </div>


                                                                        </div>


                                                                    </a>


                                                                </div>
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </div>