<header id="egh" class="fortnite   init  " data-version="7.3.1">
    <nav id="nav" class="desktop">
        <div>
            <div id="propNav">
                <div id="egLogo" class="egLogo cursor-pointer"><a href="/" role="button" title="Epic Games"
                        class="shieldLogo focusable text-color bg-color text-color-border-after"></a></div><a
                    role="button" aria-label="Logo home button" id="propLogo" href="/" class="propLogo focusable "></a>
                <div role="button" tabindex="0" id="navLine" class="nav-line">
                    <span class="lines text-color-bg text-color-before-after"></span>
                </div>
                <div class="sitenav-wrap bg-color   kb-focus">
                    <ul id="siteNav" role="menubar" style="height: 3.7em;" class="siteNav bg-color    ">
                        <li role="none" id="sitenav-link-0" class="dropdown accent-bg-color-before
                            " data-index="0"><a role="menuitem"
                                class="focusable text-color-nonactive text-color-hover cursor-default" rel="">
                                <p>Modes</p>
                            </a>
                            <ul class="kids site-nav-kids-desktop" role="menu">
                                <li role="menuitem" class="kid  " data-gkl="0" data-index="0"><a
                                        class="focusable text-color-hover text-color-nonactive" tabindex="0"
                                        href="/fortnite/en-US/chapter-3-season-2" rel=""><span>Battle Royale</span></a>
                                    <ul role="menu" class="hidden"></ul>
                                </li>
                                <li role="menuitem" class="kid  " data-gkl="0" data-index="1"><a
                                        class="focusable text-color-hover text-color-nonactive" tabindex="0"
                                        href="/fortnite/en-US/zero-build" rel=""><span>Zero Build</span></a>
                                    <ul role="menu" class="hidden"></ul>
                                </li>
                                <li role="menuitem" class="kid  " data-gkl="0" data-index="2"><a
                                        class="focusable text-color-hover text-color-nonactive" tabindex="0"
                                        href="/fortnite/en-US/creative" rel=""><span>Creative</span></a>
                                    <ul role="menu" class="hidden"></ul>
                                </li>
                                <li role="menuitem" class="kid  " data-gkl="0" data-index="3"><a
                                        class="focusable text-color-hover text-color-nonactive" tabindex="0"
                                        href="/fortnite/en-US/save-the-world" rel=""><span>Save the World</span></a>
                                    <ul role="menu" class="hidden"></ul>
                                </li>
                            </ul>
                        </li>
                        <li role="none" id="sitenav-link-1" class=" accent-bg-color-before
                            " data-index="1"><a href="/battle-pass" role="menuitem"
                                class="focusable text-color-nonactive text-color-hover " rel="">
                                <p>Battle Pass</p>
                            </a></li>
                        <li role="none" id="sitenav-link-2" class=" accent-bg-color-before
                            " data-index="2"><a href="/crew" role="menuitem"
                                class="focusable text-color-nonactive text-color-hover " rel="">
                                <p>Crew</p>
                            </a></li>
                        <li role="none" id="sitenav-link-4" class=" accent-bg-color-before
                            " data-index="4"><a href="/competition" role="menuitem"
                                class="focusable text-color-nonactive text-color-hover " rel="">
                                <p>Competitive</p>
                            </a></li>
                        <li role="none" id="sitenav-link-5" class=" accent-bg-color-before
                            " data-index="5"><a href="/news" role="menuitem"
                                class="focusable text-color-nonactive text-color-hover " rel="">
                                <p>News</p>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div id="rightNav" role="menubar" class="right-col  bg-color topNav">
                <div class="rightNav bg-color">
                    <div id="search" class="no-before">
                        <div id="form" class="search closed" tabindex="-1">
                            <div class="form-inline">
                                <div class="form-group"><input type="search" tabindex="-1" name="keyword" id="query"
                                        aria-label="Search" placeholder="Search..." class="search-input text-color"
                                        value=""><input type="hidden" name="limit" value="all"></div>
                                <div class="search-btn search-btns hidden"><a tabindex="-1" role="button"
                                        title="Search"><i class="eg-header-icon-search"></i></a></div>
                                <div class="close-btn search-btns"><a role="button" tabindex="-1"><i
                                            class="eg-header-icon-close"></i></a></div>
                            </div>
                        </div>
                        <div id="searchIcon" class="bg-color accent-bg-color-before "><a role="button" tabindex="0"
                                title="Search" class="focusable text-color-hover"><i
                                    class="eg-header-icon-search "></i><i class="eg-header-icon-close "></i></a></div>
                    </div>
                    <!--
                        <div id="locale" class="bg-color dropdown">
                        <a id="localeMenuButton" role="menuitem" tabindex="0"
                            aria-haspopup="true" aria-controls="localeMenuList" aria-label="Localization"
                            aria-expanded="false" data-locale="English" title="English"
                            class="locale-icon focusable text-color-hover"><i class="eg-header-icon-locale"></i></a>
                        <ul id="localeMenuList" class="locale-list bg-color  ul-left " role="menu"
                            aria-labelledby="localeMenuButton">
                            <li role="none" class="" data-lang="ar"><a href="/fortnite/ar/home?lang=ar" role="menuitem"
                                    data-index="0"
                                    class="text-color-hover text-color-nonactive"><span>العربية</span></a></li>
                            <li role="none" class="" data-lang="de"><a href="/fortnite/de/home?lang=de" role="menuitem"
                                    data-index="1"
                                    class="text-color-hover text-color-nonactive"><span>Deutsch</span></a></li>
                            <li role="none" class="" data-lang="es-ES"><a href="/fortnite/es-ES/home?lang=es-ES"
                                    role="menuitem" data-index="3"
                                    class="text-color-hover text-color-nonactive"><span>Español (Spain)</span></a></li>
                            <li role="none" class="" data-lang="es-MX"><a href="/fortnite/es-MX/home?lang=es-MX"
                                    role="menuitem" data-index="4"
                                    class="text-color-hover text-color-nonactive"><span>Español (LA)</span></a></li>
                            <li role="none" class="" data-lang="fr"><a href="/fortnite/fr/home?lang=fr" role="menuitem"
                                    data-index="5"
                                    class="text-color-hover text-color-nonactive"><span>Français</span></a></li>
                            <li role="none" class="" data-lang="it"><a href="/fortnite/it/home?lang=it" role="menuitem"
                                    data-index="6"
                                    class="text-color-hover text-color-nonactive"><span>Italiano</span></a></li>
                            <li role="none" class="" data-lang="ja"><a href="/fortnite/ja/home?lang=ja" role="menuitem"
                                    data-index="7" class="text-color-hover text-color-nonactive"><span>日本語</span></a>
                            </li>
                            <li role="none" class="" data-lang="ko"><a href="/fortnite/ko/home?lang=ko" role="menuitem"
                                    data-index="8" class="text-color-hover text-color-nonactive"><span>한국어</span></a>
                            </li>
                            <li role="none" class="" data-lang="pl"><a href="/fortnite/pl/home?lang=pl" role="menuitem"
                                    data-index="9" class="text-color-hover text-color-nonactive"><span>Polski</span></a>
                            </li>
                            <li role="none" class="" data-lang="pt-BR"><a href="/fortnite/pt-BR/home?lang=pt-BR"
                                    role="menuitem" data-index="10"
                                    class="text-color-hover text-color-nonactive"><span>Português (Brasil)</span></a>
                            </li>
                            <li role="none" class="" data-lang="ru"><a href="/fortnite/ru/home?lang=ru" role="menuitem"
                                    data-index="11"
                                    class="text-color-hover text-color-nonactive"><span>Русский</span></a></li>
                            <li role="none" class="" data-lang="tr"><a href="/fortnite/tr/home?lang=tr" role="menuitem"
                                    data-index="12"
                                    class="text-color-hover text-color-nonactive"><span>Türkçe</span></a></li>
                        </ul>
                    </div>
                    -->
                    <div id="user" role="button" tabindex="-1" aria-label="Account menu"
                        class="sign-in accent-bg-color-before bg-color   ">
                        <div></div>
                        <ul class="bg-color  ul-left" role="none">
                            <li role="none" class=""><a href="#" role="button" data-index="0"
                                    class="text-color-hover text-color-nonactive"><i
                                        class="eg-header-icon-user"></i><span
                                        class="sign-text item-label display-name text-color">Sign In</span></a></li>
                        </ul>
                    </div>
                    <div class="cta accent-bg-color accent-bg-color-hover  " id="cta"><a role="menuitem" tabindex="0"
                            href="/download" class="focusable accent-bg-color accent-bg-color-hover"><span
                                class="accent-text-color accent-text-color-hover">Download</span></a></div>
                </div>
            </div>
        </div>
    </nav>
</header>