<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=11;IE=Edge,chrome=1">
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="host" content="fortnite-website-prod07-i-098cecef9027f15aa">
    <meta name="worker" content="336">
    <meta name="theme-color" content="#000">
    <meta name="template:engine" content="pug">
    <meta name="google-site-verification" content="xU97UAkdrfiZPCvgGO2haoL_DnAFsljisGJSlNOmyhA">
    <link rel="shortcut icon" href="https://static-assets-prod.epicgames.com/fortnite/static/webpack/../favicon.ico"
        type="image/x-icon">
    <script>(function () {
            try {
                if ('serviceWorker' in navigator) {
                    // Use the window load event to keep the page load performant
                    window.addEventListener('load', function () {
                        navigator.serviceWorker.register("/public/js/epic-service-worker.js", { scope: '/public/js/' })
                            .catch(function (err) {
                                console.log('Service workers are not supported by this browser');
                                console.error(err);
                            });
                    });
                }
            } catch (e) {
                console.log('Service worker failed to activate and install', e);
            }
        })();</script>
    <title>Uncaptured | Free-to-Play Mobile Game - Uncaptured</title>
    <meta data-react-helmet="true" property="og:url" content="/">
    <meta data-react-helmet="true" property="og:site_name" content="Uncaptured">
    <meta data-react-helmet="true" property="og:locale" content="en_US">
    <meta data-react-helmet="true" name="twitter:card" content="summary">
    <meta data-react-helmet="true" name="twitter:site" content="@UncapturedGame">
    <meta data-react-helmet="true" name="twitter:title"
        content="Uncaptured – A Free-to-Play Battle Royale Game and More">
    <meta data-react-helmet="true" property="og:title"
        content="Uncaptured – A Free-to-Play Battle Royale Game and More">
    <meta data-react-helmet="true" name="description"
        content="Uncaptured is a free-to-play Battle Royale game with numerous game modes for every type of game player. Watch a concert, build an island or fight.">
    <meta data-react-helmet="true" name="twitter:description"
        content="Uncaptured is a Free-to-Play Battle Royale game and so much more. Hang out peacefully with friends while watching a concert or movie. Build and create your own island, or fight to be the last person standing.">
    <meta data-react-helmet="true" property="og:description"
        content="Uncaptured is a Free-to-Play Battle Royale game and so much more. Hang out peacefully with friends while watching a concert or movie. Build and create your own island, or fight to be the last person standing.">
    <meta data-react-helmet="true" name="twitter:image"
        content="https://cdn2.unrealengine.com/7up-3840x2160-c93d04c02c26.jpg">
    <meta data-react-helmet="true" property="og:image"
        content="https://cdn2.unrealengine.com/7up-3840x2160-c93d04c02c26.jpg">
    <link data-react-helmet="true" rel="canonical" href="/">
    <style data-styled="active" data-styled-version="5.3.3"></style>

        <link rel="stylesheet" href="/public/css/app.css">
    <link key="third-party-css" rel="stylesheet"
        href="https://static-assets-prod.epicgames.com/fortnite/static/webpack/./thirdParty.fortnite-site.5fa7852dd4b99e45e00e.css"
        crossorigin="anonymous">
    <link key="app-css" rel="stylesheet"
        href="https://static-assets-prod.epicgames.com/fortnite/static/webpack/./main.fortnite-site.5fa7852dd4b99e45e00e.css"
        crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/valorant_main.css">
        <link rel="stylesheet" href="/public/css/my.css">
</head>