{{!-- animate header --}}
                                                        <div style="margin-top: 90px; text-align:center; margin-bottom: 65px;">
                                                            <div class="watch-large-container aos-init aos-animate"
                                                                data-aos="slide-up" style="margin-top: 0px;">
                                                                <div class="title-highlighted aos-init aos-animate"
                                                                    data-aos="slide-up">
                                                                    <div
                                                                        class="field field--name-pre-headline field--type-string field--label-hidden field__item">
                                                                        ORION AFRICA MMA</div>
                                                                </div>
                                                                <h2 class="title-main aos-init aos-animate"
                                                                    data-aos="slide-up">
                                                                    <div
                                                                        class="field field--name-headline field--type-string field--label-hidden field__item">
                                                                       Latest news
                                                                        </div>
                                                                </h2>
                                                                <p>

                                                                </p>
                                                                {{!-- <div
                                                                    class="clearfix title-highlighted aos-init aos-animate">
                                                                    <p style="color: rgb(119, 119, 119);">See fighters at war</p>
                                                                </div> --}}

                                                                <p></p>
                                                            </div>

                                                        </div>