<style>
    .outer_layer{
            display:inline;
            width: 100%;
        }
    .beholder{
        margin-top:1px;
        padding-right: 35px;
        padding-left: 30px;
        padding-bottom: 2%;
    }
    .text_area_pallet {
        color: orange;
        font-family: 'SecularOne';
        margin-top: 27vh;
        margin-left: 15px;
    }

    .pallete_article_element {
        background: rgb(16, 15, 15);
        background-image: url('/public/images/headshot22.png');
        width: 98%;
        height: 48.5vh;
    }

    .pallete_article_element:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
      .text_area_pallet h3{
            color: rgb(216, 216, 216);
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 13px;
        }
        .text_area_pallet h2 li{
            color: rgb(40, 144, 255);
            font-family: 'SecularOne';
            font-size: 15px;
        }
        .text_area_pallet h4{
            color: rgba(255, 166, 0, 0.864);
            font-family: 'SecularOne';
            font-size: 15px;
        }
    @media (min-width:978px) {
       
        .beholder{

        }
        .text_area_pallet {
            color: orange;
            font-family: 'SecularOne';
            margin-top: 27vh;
            margin-left: 15px;
            font-size: 15px;
        }
         .text_area_pallet h3{
            color: rgb(216, 216, 216);
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 13px;
        }
        .text_area_pallet h2 li{
            color: rgb(40, 144, 255);
            font-family: 'SecularOne';
            font-size: 15px;
        }
        .text_area_pallet h4{
            color: rgba(255, 166, 0, 0.864);
            font-family: 'SecularOne';
            font-size: 15px;
        }

        .pallete_article_element {
            background: rgb(16, 15, 15);
            background-image: url('/public/images/headshot22.png');
            width: 100%;
            height: 48.5vh;
        }

        .pallete_article_element:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
</style>
<div class="row">
    <div class="col-md-4 beholder"  >
        <article class="pallete_article_element">
            <a href="#" style=" margin-top: -20vh; margin-left: 10px;">
                <header class="text_area_pallet">
                    <h3 class="weight-class">Rank</h3>
                    <h2 class="name">
                        <ul class="athlete-name">
                            <li class="first-name">First Name</li>
                            <li class="last-name">Last Name</li>
                        </ul>
                    </h2>
                    <h4 class="nickname hidden-xs">"Nickname"</h4>
                </header>
            </a>
        </article>
    </div>
     <div class="col-md-4 beholder">
        <article class="pallete_article_element">
            <a href="#" style=" margin-top: -20vh; margin-left: 10px;">
                <header class="text_area_pallet">
                    <h3 class="weight-class">Rank</h3>
                    <h2 class="name">
                        <ul class="athlete-name">
                            <li class="first-name">First Name</li>
                            <li class="last-name">Last Name</li>
                        </ul>
                    </h2>
                    <h4 class="nickname hidden-xs">"Nickname"</h4>
                </header>
            </a>
        </article>
    </div>
     <div class="col-md-4 beholder"  >
        <article class="pallete_article_element">
            <a href="#" style=" margin-top: -20vh; margin-left: 10px;">
                <header class="text_area_pallet">
                    <h3 class="weight-class">Feather Weight</h3>
                    <h2 class="name">
                        <ul class="athlete-name">
                            <li class="first-name">Israel</li>
                            <li class="last-name">Adessanya</li>
                        </ul>
                    </h2>
                    <h4 class="nickname hidden-xs">Style Bender</h4>
                </header>
            </a>
        </article>
    </div>
   
</div>