<link rel="stylesheet" href="/public/icon/style.css">
<style>
.dropdown {
  position: relative;
  /**display: inline-block;*/
  animation-delay: 5s;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 10;
  background-color: white;
  /**min-width: 50px;*/
  box-shadow: 0px 8px 16px 0px rgba(255,255,255,255.0.5);
  /**padding: 1px 1px;*/
  z-index: 1;
	transition:all 10s;
}

.dropdown-menu:hover .dropdown-toggle {
	transition:all 5s;
}
@media (min-width:928) {
  .dropdown-content {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: white;
  /**min-width: 50px;*/
  box-shadow: 0px 8px 16px 0px rgba(255,255,255,255.0.5);
  padding: 1px 1px;
  z-index: 10;
	transition:all 10s;
}
.sided .triangle-topleft {
    visibility: visible;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-top: 30px solid rgb(182, 182, 182);
      border-right: 30px solid transparent;
    }
.sided .triangle-topright {
    visibility: visible;
      width: 0;
      height: 0;
      border-right: 30px solid transparent;
      border-bottom: 30px solid rgb(182, 182, 182);
      border-left: 30px solid transparent;
    }
    
}

.dropdown-div{
  background-color: rgb(255, 255, 255); 
  text-align:center; 
  border:1px solid transparent; 
  border-radius:0px;
}
.nav-link-social-container{
}
.nav-link-text{
  color: rgb(68, 68, 68); 
  font-weight: 500;
  font-size: 17px;
  text-decoration: dashed;
}
.nav-link-text:hover{
  color: rgb(68, 68, 68) #000b24;
  font-weight: 600;
  font-size: 17px;
  text-decoration:none;
}
.sided .triangle-topleft {
    visibility: visible;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-top: 20px solid rgb(182, 182, 182);
      border-right: 20px solid transparent;
    }
.sided .triangle-topright {
    visibility: visible;
      width: 0;
      height: 0;
      border-right:  20px solid transparent;
      border-bottom: 20px solid rgb(182, 182, 182);
      border-left: 20px solid transparent;
    }
</style>
<nav class=" navbar navbar-expand-lg navbar-light bg-theme-blue text-white shadow-lg p-3 mb-0" style="position: fixed;z-index: 50;" >
  <div class="sided" style="background-color:#transparent; margin-top:-17px;">
  {{!-- <div class="triangle-topleft"></div>
  <div class="triangle-topright"></div> --}}
  <img src="/public/images/gloves.webp" width="70px;"/>
  </div>
  <a class="navbar-brand" href="/"><img src="/public/images/logo-black.png" style="width: 75px; margin:0; margin-top:-15px;"/>Orion</a>
  <button class="navbar-toggler" style="color:rgb(19, 19, 19);" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
  </button>
  <div class="collapse navbar-collapse " style="text-align:center; color: rgb(255, 255, 255);" id="navbarText">
    <ul class="navbar-nav mr-auto">
   {{!-- left empty on purpose --}}
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       {{!-- instagram tweeter,tiktock, facebook --}}
        <span class="nav-link " data-toggle="" id="events" ><a style="text-decoration: none; margin:10px; color:rgb(5, 8, 31);" href="/news">NEWS <span class="sr-only">(current)</span></a></span>
        {{!-- <div class="dropdown">
       <div class="dropdown-menu dropdown-div" aria-labelledby="events">
            <ul class=" navbar-nav">
                <li class=" dropdown-item">
                    <a class="nav-link-text" href="/news">Latest <span class="sr-only">(current)</span></a>
                </li>
                <li class="dropdown-item c-menu-main__item--below">
                    <a class="nav-link-text" href="/news">Trending <span class="sr-only">(current)</span></a>
                </li>
                <li class="dropdown-item c-menu-main__item--below">
                    <a class="nav-link-text" href="/events">Watch <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        </div> --}}
      </li>
       <li class="nav-item">
        <span class="nav-link dropdown_list " data-toggle="" id="events" ><a style="text-decoration: none; margin:10px; color:rgb(5, 8, 31);" href="/events">EVENTS <span class="sr-only">(current)</span></a></span>
       
      </li>
      <li class="nav-item">
        <span class="nav-link  " id="ranking" ><a style="text-decoration: none; margin:10px; color:rgb(5, 8, 31);" href="/athletes/all/?name=&style=">ATHLETES <span class="sr-only">(current)</span></a></span>
       
      </li>
      {{!-- <li class="nav-item">
       
        <div class="dropdown">
        <span class="nav-link dropdown_list " data-toggle="dropdown" id="shop" ><a style="text-decoration: none;  margin:10px; color:rgb(5, 8, 31);" href="/shop">SHOP <span class="sr-only">(current)</span></a></span>
       <div class="dropdown-menu dropdown-div" style="background-color: rgb(255, 255, 255);text-align:center;" aria-labelledby="shop">
            <ul class=" navbar-nav" >
                <li class=" dropdown-item c-menu-main__item--below">
                    <a class="nav-link-text" href="/shop">Shop <span class="sr-only">(current)</span></a>
                </li>
                <li class="dropdown-item c-menu-main__item--below">
                    <a class="nav-link-text" href="/shop?#tickets">Tickets <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        </div>
      </li> --}}
       
      <li class="nav-item">
        <span class="nav-link" id="about"><a style="text-decoration: none; margin:10px; color:rgb(5, 8, 31); " target="_blank" href="/fitness">FITNESS <span class="sr-only">(current)</span></a></span>
      </li> 
      <li class="nav-item">
       <span class="nav-link" data-toggle="" id="about"><a style="text-decoration: none; margin:10px; color:rgb(5, 8, 31); " href="/about">ABOUT <span class="sr-only">(current)</span></a></span>
       
        {{!-- <div class="dropdown">
         <div class=" dropdown-menu dropdown-div" aria-labelledby="about">
            <ul class=" navbar-nav dropdown-sm-right ">
                <li class="dropdown-item c-menu-main__item--below ">
                    <a  href="/about#brand" class="nav-link-text" >Brand <span class="sr-only">(current)</span></a>
                </li>
                <li class="dropdown-item c-menu-main__item--below ">
                    <a  href="/about#sport" class="nav-link-text" >Sport <span class="sr-only">(current)</span></a>
                </li>
                
            </ul>
        </div>
        </div> --}}
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" style="margin-right: 5px;">
        <a class="nav-link" href="/"><i class="fa fa-facebook" style="color: rgb(15, 15, 15);"></i> <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-instagram" style="color: rgb(15, 15, 15);;"></i> <span class="sr-only"></span></a>
      </li>
       <li class="nav-item nav-link-social-container">
        <a class="nav-link" href="#"><i class="fa fa-whatsapp" style="color: rgb(94, 94, 94);white;"></i> <span class="sr-only"></span></a>
      </li>
       {{!-- <li class="nav-item">
        <a class="nav-link" href="#"><i class="icon icon-google-plus"></i> <span class="sr-only">(current)</span></a>
      </li> --}}
       <li class="nav-item">
        <a class="nav-link" href="#"><i class="icon icon-mail_outline"></i> <span class="sr-only">(current)</span></a>
      </li>
      
    
    </ul>
  </div>
  {{!-- <div class="sided" style="background-color:#001d61; z-index:-1;">
  <div class="triangle-topleft" style="z-index:0; "></div>
  <div class="triangle-topright" style="z-index:1;margin-left:-0px;"></div>
  </div> --}}
</nav>