<div id="mainCarousel" class="">
  <div class="sc-hBUSln gDhWSL slick-wrapper loc-en-US">
    <div class="slick-initialized slick-slider">
      <div class="slick-list" style="height: 759px;">
        <div class="slick-track" style="opacity: 1; transform: translate3d(-2700px, 0px, 0px); width: 6750px;">
          <div data-index="-1" class="slick-slide slick-cloned" style="width: 1350px;">
            <div class="CarouselCenterImage__StyledCarouselSlide-sc-1h53zkj-0 bGCYHd">
              <div class="bk-img"
                style="background-image:url(https://cdn2.unrealengine.com/fortnite-chapter-3-season-2-home-page-battle-pass-promo-bg-desktop-1920x1080-7d747bddebc2.jpg)">
              </div>
              <div class="CarouselCenterImage__StyledCarouselContent-sc-1h53zkj-1 kacEfJ">
                <img alt="Season Bug" class="season-bug"
                  src="https://cdn2.unrealengine.com/en-1080x1080-2eb4bb9490a9.png">
                <div class="CarouselCenterImage__FloatingContent-sc-1h53zkj-5 iStJVE">
                  <div class="Stack__StyledStack-sc-yh7a80-0 loLefS">
                    <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ"><img
                        src="https://cdn2.unrealengine.com/resistance-logo-brackets-en-1624x444-589d0c1f7072.png"
                        alt="Resistance" class="CarouselCenterImage__StyledSeasonLogo-sc-1h53zkj-3 manvG">
                    </div>
                    <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                      <div class="Stack__StyledStack-sc-yh7a80-0 fUArMF">
                        <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                          <h3 class="Text__StyledText-sc-1ctx105-0 esnLbE">
                            Battle Pass</h3>
                        </div>
                        <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                          <div class="Inline__StyledInline-sc-ivxnf0-0 cjZKqN">
                            <div class="Inline__StyledInlineItem-sc-ivxnf0-1 idBEMn">
                              <div class="CarouselCenterImage__StyledCarouselButton-sc-1h53zkj-2 boZISW">
                                <button
                                  class="CommonCTABtn__StyledCTA-sc-546ih8-0 empKSh btn btn-primary CTAButton__StyledCTAButton-sc-xglgtk-0 exxwKN btn-display"><span>Available
                                    Now!</span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-index="0" class="slick-slide" tabindex="-1" style="outline: none; width: 1350px;">
            <div class="CarouselCenterImage__StyledCarouselSlide-sc-1h53zkj-0 bGCYHd">
              <div class="bk-img"
                style="background-image:url(https://cdn2.unrealengine.com/fortnite-no-build-battle-royale-desktop-1920x1080-b010abfc1691.jpg)">
              </div>
              <div class="CarouselCenterImage__StyledCarouselContent-sc-1h53zkj-1 kZcBSh">
                <div class="CarouselCenterImage__FloatingContent-sc-1h53zkj-5 bMBYDC">
                  <div class="Stack__StyledStack-sc-yh7a80-0 loLefS">
                    <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ"><img
                        src="https://cdn2.unrealengine.com/zero-build-battle-royale-logo-en-fn-2739x1246-12a1a93b16df.png"
                        alt="Zero Build - No Build Battle Royale"
                        class="CarouselCenterImage__StyledSeasonLogo-sc-1h53zkj-3 manvG">
                    </div>
                    <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                      <div class="Stack__StyledStack-sc-yh7a80-0 fUArMF">
                        <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                          <div class="Inline__StyledInline-sc-ivxnf0-0 cjZKqN">
                            <div class="Inline__StyledInlineItem-sc-ivxnf0-1 idBEMn">
                              <div class="CarouselCenterImage__StyledCarouselButton-sc-1h53zkj-2 boZISW">
                                <button
                                  class="CommonCTABtn__StyledCTA-sc-546ih8-0 empKSh btn btn-primary CTAButton__StyledCTAButton-sc-xglgtk-0 eTqazm btn-display"><span>Play
                                    Now!</span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-index="1" class="slick-slide slick-active" tabindex="-1" style="outline: none; width: 1350px;">
            <div class="CarouselCenterImage__StyledCarouselSlide-sc-1h53zkj-0 bGCYHd">
              <div class="bk-img"
                style="background-image:url(https://cdn2.unrealengine.com/fortnite-chapter-3-season-2-overview-page-key-art-bg-1920x1080-1645479397a2.jpg)">
              </div>
              <div class="CarouselCenterImage__StyledCarouselContent-sc-1h53zkj-1 kZcBSh">
                <img alt="Season Bug" class="season-bug"
                  src="https://cdn2.unrealengine.com/en-1080x1080-2eb4bb9490a9.png">
                <div class="CarouselCenterImage__FloatingContent-sc-1h53zkj-5 bMBYDC">
                  <div class="Stack__StyledStack-sc-yh7a80-0 loLefS">
                    <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ"><img
                        src="https://cdn2.unrealengine.com/resistance-logo-brackets-en-1624x444-589d0c1f7072.png"
                        alt="Resistance" class="CarouselCenterImage__StyledSeasonLogo-sc-1h53zkj-3 manvG">
                    </div>
                    <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                      <div class="Stack__StyledStack-sc-yh7a80-0 fUArMF">
                        <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                        </div>
                        <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                          <div class="Inline__StyledInline-sc-ivxnf0-0 cjZKqN">
                            <div class="Inline__StyledInlineItem-sc-ivxnf0-1 idBEMn">
                              <button
                                class="CarouselCenterImage__StyledVideoPlayButton-sc-1h53zkj-4 ZZTNK play-wrapper">
                                <div class="Inline__StyledInline-sc-ivxnf0-0 hFqeHN">
                                  <div class="Inline__StyledInlineItem-sc-ivxnf0-1 gSTgLb">
                                    <div class="Text__StyledText-sc-1ctx105-0 cLuvQW">
                                      Watch Trailer</div>
                                  </div>
                                  <div class="Inline__StyledInlineItem-sc-ivxnf0-1 gSTgLb">
                                    <svg width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="24" cy="24" r="23.5" fill="#000" fill-opacity=".6" stroke="#fff">
                                      </circle>
                                      <path
                                        d="M31.869 22.4a2 2 0 010 3.2L22.2 32.856c-1.319.99-3.201.049-3.201-1.6V16.744c0-1.648 1.882-2.589 3.2-1.6L31.87 22.4z"
                                        fill="#fff"></path>
                                    </svg>
                                  </div>
                                </div>
                              </button>
                            </div>
                            <div class="Inline__StyledInlineItem-sc-ivxnf0-1 idBEMn">
                              <div class="CarouselCenterImage__StyledCarouselButton-sc-1h53zkj-2 boZISW">
                                <button
                                  class="CommonCTABtn__StyledCTA-sc-546ih8-0 empKSh btn btn-primary CTAButton__StyledCTAButton-sc-xglgtk-0 eTqazm btn-display"><span>Play
                                    Now!</span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-index="2" class="slick-slide" tabindex="-1" style="outline: none; width: 1350px;">
            <div class="CarouselCenterImage__StyledCarouselSlide-sc-1h53zkj-0 bGCYHd">
              <div class="bk-img"
                style="background-image:url(https://cdn2.unrealengine.com/fortnite-chapter-3-season-2-home-page-battle-pass-promo-bg-desktop-1920x1080-7d747bddebc2.jpg)">
              </div>
              <div class="CarouselCenterImage__StyledCarouselContent-sc-1h53zkj-1 kacEfJ">
                <img alt="Season Bug" class="season-bug"
                  src="https://cdn2.unrealengine.com/en-1080x1080-2eb4bb9490a9.png">
                <div class="CarouselCenterImage__FloatingContent-sc-1h53zkj-5 iStJVE">
                  <div class="Stack__StyledStack-sc-yh7a80-0 loLefS">
                    <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ"><img
                        src="https://cdn2.unrealengine.com/resistance-logo-brackets-en-1624x444-589d0c1f7072.png"
                        alt="Resistance" class="CarouselCenterImage__StyledSeasonLogo-sc-1h53zkj-3 manvG">
                    </div>
                    <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                      <div class="Stack__StyledStack-sc-yh7a80-0 fUArMF">
                        <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                          <h3 class="Text__StyledText-sc-1ctx105-0 esnLbE">
                            Battle Pass</h3>
                        </div>
                        <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                          <div class="Inline__StyledInline-sc-ivxnf0-0 cjZKqN">
                            <div class="Inline__StyledInlineItem-sc-ivxnf0-1 idBEMn">
                              <div class="CarouselCenterImage__StyledCarouselButton-sc-1h53zkj-2 boZISW">
                                <button
                                  class="CommonCTABtn__StyledCTA-sc-546ih8-0 empKSh btn btn-primary CTAButton__StyledCTAButton-sc-xglgtk-0 exxwKN btn-display"><span>Available
                                    Now!</span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-index="3" class="slick-slide slick-cloned" style="width: 1350px;">
            <div class="CarouselCenterImage__StyledCarouselSlide-sc-1h53zkj-0 bGCYHd">
              <div class="bk-img"
                style="background-image:url(https://cdn2.unrealengine.com/fortnite-no-build-battle-royale-desktop-1920x1080-b010abfc1691.jpg)">
              </div>
              <div class="CarouselCenterImage__StyledCarouselContent-sc-1h53zkj-1 kZcBSh">
                <div class="CarouselCenterImage__FloatingContent-sc-1h53zkj-5 bMBYDC">
                  <div class="Stack__StyledStack-sc-yh7a80-0 loLefS">
                    <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ"><img
                        src="https://cdn2.unrealengine.com/zero-build-battle-royale-logo-en-fn-2739x1246-12a1a93b16df.png"
                        alt="Zero Build - No Build Battle Royale"
                        class="CarouselCenterImage__StyledSeasonLogo-sc-1h53zkj-3 manvG">
                    </div>
                    <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                      <div class="Stack__StyledStack-sc-yh7a80-0 fUArMF">
                        <div class="Stack__StyledStackItem-sc-yh7a80-1 jEcvpZ">
                          <div class="Inline__StyledInline-sc-ivxnf0-0 cjZKqN">
                            <div class="Inline__StyledInlineItem-sc-ivxnf0-1 idBEMn">
                              <div class="CarouselCenterImage__StyledCarouselButton-sc-1h53zkj-2 boZISW">
                                <button
                                  class="CommonCTABtn__StyledCTA-sc-546ih8-0 empKSh btn btn-primary CTAButton__StyledCTAButton-sc-xglgtk-0 eTqazm btn-display"><span>Play
                                    Now!</span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="carousel-dots bottom" style="display: block;">
        <li class=""><button>1</button></li>
        <li class="slick-active"><button>2</button></li>
        <li class=""><button>3</button></li>
      </ul>
    </div>
  </div>
</div>