 <footer class="c-site-footer" role="contentinfo">
    <div class="c-site-footer__main">
      <div id="block-orionafrica-localization">

        <div class="orionafrica-block-localization__title e-t12">

          <img src="/public/images/logo-white.png" style="width: 30%; margin-top: -20px; float:right;" alt="">

        </div>
      </div>

    </div>
    <div class="c-site-footer__copyright" style="margin-top: 0px;">
      <div id="block-copyrightblock" class="block block-orionafrica-configuration block-copyright-block">


        Copyright © 2022 ORION AFRICA All Rights Reserved
      </div>

    </div>
  </footer>
  <!-- Footer -->
  <footer class="c-site-footer page-footer font-small unique-color-dark " style="height: 380px; overflow-y:scroll;"
    role="">

    <div style="background-color: transparent; color:cornsilk;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0"></h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook  white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->
      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-3">

      <!-- Grid row -->
      <div class="row mt-2">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">ORION AFRICA</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 0px;">
          <img src="/public/images/logo-white.png" style="width: 20%; margin-top: 30px; float:left;" alt="">
          <p>ORION Africa is a mixed martial art promoter and trainer. Promoting the best of african fighters to the
            international mma championship. </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Useful links</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a style="color:darkgrey; font-size:large; font-weight:600;" href="#!">Watch</a>
            </p>
            <p>
              <a style="color:darkgrey; font-size:large; font-weight:600;" href="#!">News</a>
            </p>
            <p>
              <a style="color:darkgrey; font-size:large; font-weight:600;" href="#!">Find GYM</a>
            </p>
            <p>
              <a style="color:darkgrey; font-size:large; font-weight:600;" href="#!">Help</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fa fa-home mr-3"></i> Dar es Salaam, TZ
            </p>
            <p>
              <i class="fa fa-envelope mr-3"></i> info@orionafrica.com
            </p>
            <p>
              {{!-- <i class="fa fa-phone mr-3"></i> + 255 768 859 833</p> --}}
            <p>
              <i class="fa fa-print mr-3"></i> + 255 789 127 834
            </p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->




      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="https://orionafrica.com/">Orionafrica.com</a>
      </div>
      <!-- Copyright -->

  </footer>
  <!-- Footer -->