<div class="grid-item position_21 size_4x3 type_headline" style="margin-top:81px;height:660px; border-size:0px;">

    <div class="c-hero--wrapper-full-width">
        <iframe src="https://www.youtube.com/embed/dw-09JmBHTY" class="c-hero--prefooter u-animate__reveal"
            style=" height:660px;width:102%;margin-left:-2px; margin-top:-2px;">
            {{!-- <div class="c-hero__image-wrapper"></div> --}}

            {{!-- <div class="c-hero__overlay"></div>
            <div class="pager__nav">
                <div class="pager__nav__inner"></div>
            </div> --}}
            <video autoplay="" id="heroVideo" loop="" muted="" poster="images/hero-video-poster.jpg">
             <source src="https://www.youtube.com/embed/dw-09JmBHTY" type="video/webm" alt="HTML5 background video">
          </video>
            <div class="c-hero--prefooter__container">

                <div class="c-hero--prefooter__content ">
                    <div class="c-hero__header">

                        <div class="c-hero--full__headline-prefix">
                            <h2>ORION AFRICA MMA</h2>
                        </div>

                        <div class="c-hero--prefooter__headline is-medium-text">
                            WATCH AFRICAN CHAMPIONS BATTLE!
                        </div>

                        <div class="c-hero__headline-suffix tz-change-inner" data-locale="" data-timestamp=""
                            data-metric="">
                            Connect For More Details
                        </div>
                    </div>

                    <div class="c-hero__actions">

                        <a href="/newsletter" class="e-button--white "><span
                                class="e-button__text">

                                Connect
                            </span></a>

                    </div>
                </div>

            </div>
            <div class="u-reveal"></div>
            <div class="u-reveal--left">
                <div class="u-reveal--right"></div>
            </div>
        </iframe>
    </div>
    <div class="c-hero__end"></div>

</div>