<section data-testid="homepage-news" class="section light LatestNews-module--latestNews--f8Sdl">
    <div class="
      BackgroundTextStroke-module--backgroundTextStroke--AVvYI 
      
      ">
        <h2 class="text-stroke  BackgroundTextStroke-module--text--GB4RS" style="transform: translateY(-74.5186px);">
            <span>We are</span><span>UNCAPTURED</span></h2>
    </div>
    <div class="LatestNews-module--detailBox--2VkGU"></div>
    <div class="sectionWrapper LatestNews-module--sectionWrapper--1BKK0">
        <header class="LatestNews-module--sectionHeader--3TPlE">
            <h2 data-testid="homepage-news-title" class="
        heading-10 en LatestNews-module--title--T-kWO 
        SlideUpTitle-module--slideUpTitle--3OLqo 
        SlideUpTitle-module--inView--1xMIY
        "><span>LATEST NEWS</span></h2><a
                class="LatestNews-module--seeArticleButton--2ARvD TextButton-module--textButton--2wm3K button "
                data-icon="ArrowRightLong" data-testid="homepage-news-link" href="/en-gb/news/">
                <p class="heading-06 TextButton-module--label--tblRt">GO TO NEWS PAGE</p>
                <div
                    class="icon TextButton-module--icon--113jU Icon-module--icon--2tHD8 Icon-module--currentColor--LyOgN">
                    <svg viewBox="0 0 25 15">
                        <path d="M16.2.5L19.9 4m4.6 3.5l-8.3 7" fill="none" stroke="#ff4655"></path>
                        <path fill="none" stroke="#ff4655" stroke-miterlimit="10" d="M16 7.5H0"></path>
                    </svg></div>
            </a>
        </header>
        <div class="LatestNews-module--sliderWrapper--18vNL">
            <div class="LatestNews-module--contentWrapper--8OJSE"><a
                    class="ContentListingCard-module--contentListingCard--14CEZ LatestNews-module--contentItem--1bYkm is-selected"
                    data-transition-index="0" data-testid="homepage-news-card-1"
                    href="/en-gb/news/game-updates/valorant-patch-notes-4-09/"
                    style="transform: translate(0px, 0px); opacity: 1;">
                    <div class="ContentListingCard-module--ieBannerWrapper--2fnW_"><span
                            class="ContentListingCard-module--ieBanner--1ldn3"
                            style="background-image:url(&quot;https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltc2b725939864a021/627b25849dfd5f30d076ff5f/Chamb_Fade_1920x1080.jpg?width=400&quot;)"></span>
                    </div>
                    <picture class="ContentListingCard-module--cardBannerWrapper--Kg6iy"
                        data-testid="homepage-news-card-1-image"><img
                            src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltc2b725939864a021/627b25849dfd5f30d076ff5f/Chamb_Fade_1920x1080.jpg?auto=webp&amp;disable=upscale&amp;width=390"
                            alt="UNCAPTURED Patch Notes 4.09" width="1920" height="1080"
                            class="sc-pVTFL cZzoXH ContentListingCard-module--cardBanner--22oqu"></picture>
                    <div class="copy-04 bold ContentListingCard-module--dateAndCategoryWrapper--11lk7"><span
                            class="ContentListingCard-module--date--3j2KS"
                            data-testid="homepage-news-card-1-date">10/05/22</span><span
                            class="ContentListingCard-module--category--4ryop"
                            data-testid="homepage-news-card-1-category">Game Updates</span></div>
                    <h3 class="heading-05 bold ContentListingCard-module--title--1vIFy"
                        data-testid="homepage-news-card-1-title">UNCAPTURED Patch Notes 4.09</h3>
                </a><a href="https://www.youtube.com/watch?v=O3InzdUOhxs" target="_blank" rel="noopener noreferrer"
                    class="ContentListingCard-module--contentListingCard--14CEZ LatestNews-module--contentItem--1bYkm is-selected"
                    data-transition-index="1" data-testid="homepage-news-card-2"
                    style="transform: translate(0px, 0px); opacity: 1;">
                    <div class="ContentListingCard-module--ieBannerWrapper--2fnW_"><span
                            class="ContentListingCard-module--ieBanner--1ldn3"
                            style="background-image:url(&quot;https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blte463d1e7be436d64/627018d95d936230ca8ead88/Valorant_2022_RGX_VideoThumbnail_EN_1920x1080_MB02.jpg?width=400&quot;)"></span>
                    </div>
                    <picture class="ContentListingCard-module--cardBannerWrapper--Kg6iy"
                        data-testid="homepage-news-card-2-image"><img
                            src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blte463d1e7be436d64/627018d95d936230ca8ead88/Valorant_2022_RGX_VideoThumbnail_EN_1920x1080_MB02.jpg?auto=webp&amp;disable=upscale&amp;width=390"
                            alt="Ready. Set. GLOW. // RGX 11z Pro Skin Reveal Trailer - UNCAPTURED" width="1920"
                            height="1080" class="sc-pVTFL cZzoXH ContentListingCard-module--cardBanner--22oqu">
                    </picture>
                    <div class="copy-04 bold ContentListingCard-module--dateAndCategoryWrapper--11lk7"><span
                            class="ContentListingCard-module--date--3j2KS"
                            data-testid="homepage-news-card-2-date">28/04/22</span><span
                            class="ContentListingCard-module--category--4ryop"
                            data-testid="homepage-news-card-2-category">Announcements</span></div>
                    <h3 class="heading-05 bold ContentListingCard-module--title--1vIFy"
                        data-testid="homepage-news-card-2-title">Ready. Set. GLOW. // RGX 11z Pro Skin Reveal Trailer -
                        UNCAPTURED</h3>
                </a><a
                    class="ContentListingCard-module--contentListingCard--14CEZ LatestNews-module--contentItem--1bYkm is-selected"
                    data-transition-index="2" data-testid="homepage-news-card-3"
                    href="/en-gb/news/game-updates/valorant-patch-notes-4-08/"
                    style="transform: translate(0px, 0px); opacity: 1;">
                    <div class="ContentListingCard-module--ieBannerWrapper--2fnW_"><span
                            class="ContentListingCard-module--ieBanner--1ldn3"
                            style="background-image:url(&quot;https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt91d278b63f680227/6266fd3347f423681896b257/Fade_Reyna_1920x1080.jpg?width=400&quot;)"></span>
                    </div>
                    <picture class="ContentListingCard-module--cardBannerWrapper--Kg6iy"
                        data-testid="homepage-news-card-3-image"><img
                            src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt91d278b63f680227/6266fd3347f423681896b257/Fade_Reyna_1920x1080.jpg?auto=webp&amp;disable=upscale&amp;width=390"
                            alt="UNCAPTURED Patch Notes 4.08" width="1920" height="1080"
                            class="sc-pVTFL cZzoXH ContentListingCard-module--cardBanner--22oqu"></picture>
                    <div class="copy-04 bold ContentListingCard-module--dateAndCategoryWrapper--11lk7"><span
                            class="ContentListingCard-module--date--3j2KS"
                            data-testid="homepage-news-card-3-date">27/04/22</span><span
                            class="ContentListingCard-module--category--4ryop"
                            data-testid="homepage-news-card-3-category">Game Updates</span></div>
                    <h3 class="heading-05 bold ContentListingCard-module--title--1vIFy"
                        data-testid="homepage-news-card-3-title">UNCAPTURED Patch Notes 4.08</h3>
                </a></div>
        </div>
    </div>
</section>