 {{!-- news items --}}
                                                    <div class="views-element-container block block-views block-views-blockcontent-footer-new-block-2" style="margin-top:-60px">

                                                        <div>
                                                            <div
                                                                class="view view-content-footer-new view-id-content_footer_new view-display-id-block_2 js-view-dom-id-5c6852e479dc8623a470f4eb64188b65bf462dd9a147d42a657a95c6863b760e">

                                                                <div class="view-content">
                                                                    <div>:

                                                                        <div class="l-container">
                                                                            <div class="l-container__content">
                                                                                <div class="c-three-up">

                                                                                    {{#each news}}
                                                                                    <div class="c-three-up__item">

                                                                                        <article
                                                                                            class="c-card--content-footer"
                                                                                            style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                                                                            <div
                                                                                                class="c-card__info--content-footer">
                                                                                                <span
                                                                                                    class="c-card__info-prefix--content-footer">Highlights</span>
                                                                                            </div>

                                                                                            <div
                                                                                                class="c-card__media--content-footer">

                                                                                                <div
                                                                                                    class="layout layout--onecol">
                                                                                                    <div
                                                                                                        class="layout__region layout__region--content">

                                                                                                        <img src="/public/images/kick.jpg"
                                                                                                            alt="alt text"
                                                                                                            loading="lazy"
                                                                                                            class="image-style-card"
                                                                                                            width="780"
                                                                                                            height="440">

                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>


                                                                                            <div
                                                                                                class="c-card__title_text">
                                                                                                <div
                                                                                                    class="c-card__headline--content-footer">
                                                                                                    <h3 class="e-t3"
                                                                                                        id="n-117697">
                                                                                                        ATHELETE NEWS | TITLE
                                                                                                    </h3>
                                                                                                </div>

                                                                                                <div
                                                                                                    class="c-card__body--content-footer e-p--small">

                                                                                                    <div
                                                                                                        class="clearfix text-formatted field field--name-teaser field--type-text-long field--label-hidden field__item">
                                                                                                        <p>Go Behind The
                                                                                                            Microphone
                                                                                                            With Daniel
                                                                                                            Cormier,
                                                                                                            Michael
                                                                                                            Bisping And
                                                                                                            Jon Anik As
                                                                                                            The Call One
                                                                                                            Of The Most
                                                                                                            Anticipated
                                                                                                            Rematches In
                                                                                                            Recent
                                                                                                            History</p>
                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>

                                                                                            <div
                                                                                                class="c-card__action--content-footer">

                                                                                                <a href="#"
                                                                                                    class="e-button--minimal "
                                                                                                    data-modal-callback="/ajax/modal/node/117697"
                                                                                                    aria-labelledby="n-117697"><span
                                                                                                        class="e-button__text">

                                                                                                        Watch the Video
                                                                                                    </span></a>
                                                                                            </div>

                                                                                        </article>

                                                                                    </div>

                                                                                    {{/each}}
                                                                                   
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        :
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>