{{!-- header --}}
                    <header class="l-masthead l-masthead--tight">


                        <div class="l-masthead__headline-prefix">Newsletter</div>
                        <h5>
                            <div class="l-masthead__header ">Submit your email to subscribe to our newsletter and get updates on events and news.</div>
                            {{!-- , ARTICLES &amp; --}}
                        </h5>




                    </header>

                    <div id="block-mainpagecontent" class="block block-system block-system-main-block"
                        style="margin-top: -80px;">
                        <div class="ds-1col ds-1col-filters clearfix">
                            <div class="block-region-ds-content">
                                <div class="views-element-container block block-views block-views-blocktrending-page">
                                    <div>
                                        <div class="view-trending view-id-trending view-display-id-page js-view-dom-id-83c32911818b33ce2a99eee162e437c8486759426f974f52ff5630690e47314b"
                                            data-once="ajax-pager">
                                                <div class="row" style="margin-top: 150px;">
                                                    <form class="form col-5 offset-3" action="">
                                                    <div class="form-group">
                                                        <label for="name" style="font-weight: 600;">Name</label>
                                                        <input id="name" style="font-weight: 600; border-color:rgb(211, 209, 209);" name="name" class="form-control" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="name" style="font-weight: 600;">Email</label>
                                                        <input id="name" name="name" style="font-weight: 600; border-color:rgb(211, 209, 209);" class="form-control" type="text">
                                                    </div>
                                                    <div class="form-group">
                                                        {{!-- <button id="name" name="name" class="form-control btn btn-default" type="text">submit</button> --}}
                                                        <div class="c-hero__actions">
                                                                            <a href="#"
                                                                                class="e-button--white "><span
                                                                                    class="e-button__text">

                                                                                    Submit
                                                                                </span></a>

                                                                        </div>
                                                    </div>
                                                </form>
                                                </div>
                                            {{!-- {{>news/news}} --}}


                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>