<div class="clientsPreview__container" style="margin: 20px;">
    <div class="clientsPreview__container__title" style="text-align: center; font-family:Euclid Circular B; font-weight:800; font-size:35px;">OUR <span style="font-family: Euclid Circular B;color:rgb(23, 54, 112);">Partners</span>.</div>
    <div class="clientsPreview__container__table">
        <div class="clientsPreview__container__table__row">
            <div class="clientsPreview__container__table__row__item">
                <a href="https://www.meetup.com" target="_blank"
                    class="clientsPreview__container__table__row__item__link "><img
                        src="https://www.wolfwhale.com/wp-content/uploads/2019/01/Image-from-iOS-e1555090115484.png"
                        alt="" class="clientsPreview__container__table__row__item__img" style="width: 50%;"></a>
            </div>
            <div class="clientsPreview__container__table__row__item">
                <a href="https://www.wolfwhale.com/work/pax/" target=""
                    class="clientsPreview__container__table__row__item__link basicTransition"><img
                        src="https://www.wolfwhale.com/wp-content/uploads/2019/01/Pax.png" alt=""
                        class="clientsPreview__container__table__row__item__img" style="width: 30%;"></a>
            </div>
            <div class="clientsPreview__container__table__row__item">
                <a href="https://www.wolfwhale.com/?post_type=work&amp;p=221" target=""
                    class="clientsPreview__container__table__row__item__link basicTransition"><img
                        src="https://www.wolfwhale.com/wp-content/uploads/2019/01/03.-Cape-Logo.png" alt=""
                        class="clientsPreview__container__table__row__item__img" style="width: 50%;"></a>
            </div>
            <div class="clientsPreview__container__table__row__item">
                <a href="https://www.petrolicious.com/" target="_blank"
                    class="clientsPreview__container__table__row__item__link "><img
                        src="https://www.wolfwhale.com/wp-content/uploads/2019/01/04.-Petrolicous.png" alt=""
                        class="clientsPreview__container__table__row__item__img" style="width: 35%;"></a>
            </div>
        </div>
    </div>
</div>

{{!-- List of partners (black colors for partner logo) --}}
