<link rel="stylesheet" href="/public/css/onefc.min.css">
<script src="/public/js/jquery-3.6.0.js"></script>
<div id="sidebar-site-footer" style="margin:5px;">
    <div id="action-banner-widget-3" style="object-position:center;" class="widget action-banner-widget show">
        <button id="dismissbtn" onclick="dismissbtn()" class="dismiss"></button>
        <div class="body" >
            <h4 class="title">CONNECT WITH US</h4>
            <h5 class="subtitle">Join our news letter!</h5>
        </div>
        <a class="action btn btn-info" href="/newsletter" data-subscription-popup-ready="1">Subscribe</a>

    </div>
</div>


<script>
var dismissbtn = function(){
    $('#action-banner-widget-3').removeClass('show');
    $('#action-banner-widget-3').addClass('hide');
}
</script>