
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/public/css/valorant_main.css">
    <title>UNCAPTURED: Games</title>
    <link data-react-helmet="true" rel="icon" type="image/x-icon" href="/static/favicon.3790df8e.ico">
    <meta data-react-helmet="true" name="description"
        content="Uncaptured Games ">
 </head>