<footer id="egf" class="egf container-fluid bg-color mobile-border-color fortnite " data-version="8.2.0">
  <div class="row footer-social-container">
    <div class="col-xs-10 col-sm-8">
      <ul class="social">
        <li><a id="facebook" class="focusable" href="https://www.facebook.com/UncapturedGame" data-index="0"
            target="_blank" rel="noopener noreferrer">
            <div><i class="text-color-nonactive accent-color-hover eg-footer-icon-facebook">&nbsp;</i>
            </div>
          </a></li>
        <li><a id="twitter" class="focusable" href="https://twitter.com/UncapturedGame" data-index="1" target="_blank"
            rel="noopener noreferrer">
            <div><i class="text-color-nonactive accent-color-hover eg-footer-icon-twitter">&nbsp;</i>
            </div>
          </a></li>
        <li><a id="twitch" class="focusable" href="https://www.twitch.tv/fortnitegame" data-index="2" target="_blank"
            rel="noopener noreferrer">
            <div><i class="text-color-nonactive accent-color-hover eg-footer-icon-twitch">&nbsp;</i>
            </div>
          </a></li>
        <li><a id="youtube" class="focusable" href="https://www.youtube.com/epicfortnite" data-index="3" target="_blank"
            rel="noopener noreferrer">
            <div><i class="text-color-nonactive accent-color-hover eg-footer-icon-youtube">&nbsp;</i>
            </div>
          </a></li>
        <li><a id="instagram" class="focusable" href="https://www.instagram.com/fortnite/" data-index="4"
            target="_blank" rel="noopener noreferrer">
            <div><i class="text-color-nonactive accent-color-hover eg-footer-icon-instagram">&nbsp;</i>
            </div>
          </a></li>
        <li><a id="snapchat" class="focusable" data-index="5" target="_blank" rel="noopener noreferrer">
            <div><button class="qr-opener" tabindex="-1"><i
                  class="text-color-nonactive accent-color-hover eg-footer-icon-snapchat">&nbsp;</i>
                <div class="image-container qrcode-bg "
                  style="background-image:url(https://cdn2.unrealengine.com/fortnitesnapcode-1e88a1facc1f0a08ae6168ee82623ca991d6f84b.svg)">
                </div>
              </button></div>
          </a></li>
        <li><a id="vk" class="focusable" href="https://vk.com/fortnite" data-index="6" target="_blank"
            rel="noopener noreferrer">
            <div><i class="text-color-nonactive accent-color-hover eg-footer-icon-vk">&nbsp;</i>
            </div>
          </a></li>
      </ul>
    </div>
    <div class="col-xs-2 col-sm-4 pull-right"><button aria-label="Return to top"
        class="focusable up-button text-color-nonactive-border accent-color-hover-border "><span
          class="eg-footer-icon-carrot text-color-nonactive accent-color-hover"></span></button>
    </div>
  </div>
  <div class="row footer-links-container">
    <div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
      <div class="footerLink-wrapper  one two three">
        <div class="inner-wrap">
          <div class="subtitle text-color mobile-border-color"><span></span></div>
          <ul class="footerLinks first-column">
            <li><a href="/fortnite/en-US/home" data-index="0" class="focusable text-color accent-color-hover "
                rel="">Home</a>
            </li>
            <li><a href="/fortnite/en-US/battle-pass" data-index="1" class="focusable text-color accent-color-hover "
                rel="">Battle
                Pass</a></li>
            <li><a href="/fortnite/en-US/watch-fortnite" data-index="2" class="focusable text-color accent-color-hover "
                rel="">Watch</a>
            </li>
            <li><a href="/fortnite/en-US/buy-now/battle-royale" data-index="3"
                class="focusable text-color accent-color-hover " rel="">Get
                Uncaptured</a></li>
          </ul>
          <ul class="footerLinks second-column">
            <li><a href="/fortnite/en-US/news" data-index="4" class="focusable text-color accent-color-hover "
                rel="">News</a>
            </li>
            <li><a href="/fortnite/en-US/faq" data-index="5" class="focusable text-color accent-color-hover "
                rel="">FAQ</a></li>
            <li><a href="/fortnite/en-US/eula" data-index="6" class="focusable text-color accent-color-hover "
                rel="">EULA</a>
            </li>
            <li><a href="/fortnite/competitive/en-US/home" data-index="7"
                class="focusable text-color accent-color-hover " rel="">Competitive</a></li>
          </ul>
          <ul class="footerLinks third-column">
            <li><a href="/fortnite/en-US/vbuckscard" data-index="8" class="focusable text-color accent-color-hover "
                rel="">V-Bucks
                Card</a></li>
            <li><a href="/fortnite/en-US/help-center" data-index="9" class="focusable text-color accent-color-hover "
                rel="">Help</a>
            </li>
            <li><a href="/fortnite/en-US/safety-and-security" data-index="10"
                class="focusable text-color accent-color-hover " rel="">Safety and
                Security</a></li>
            <li><a href="https://www.epicgames.com/site/community-rules" data-index="11"
                class="focusable text-color accent-color-hover " rel="noopener noreferrer">Community Rules</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cta-section tag-section">
      <div></div>
    </div>
  </div>
  <hr class="mobile-border-color">
  <div class="row copyright">
    <div class="col-xs-12 col-md-12 col-lg-6 no-padding">
      <div class="copyright-paragraph"><span class="text-color-nonactive">© 2022, Epic Games,
          Inc. Epic, Epic Games, the Epic Games logo, Uncaptured, the Uncaptured logo, Unreal,
          Unreal Engine 4 and UE4 are trademarks or registered trademarks of Epic Games,
          Inc. in the United States of America and elsewhere. All rights reserved.
          <!-- -->&nbsp;&nbsp;
        </span></div>
    </div>
  </div>
  <div class="row footer-legal">
    <div class="col-xs-12 col-sm-6 legal">
      <ul class="links">
        <li><a id="footerTerms" class="focusable text-color accent-color-hover" target="_blank"
            rel="noopener noreferrer" href="https://www.epicgames.com/en-US/tos?lang=en-US">Terms of Service</a>
        </li>
        <li><a id="footerPrivacy" class="focusable text-color accent-color-hover" target="_blank"
            rel="noopener noreferrer" href="https://www.epicgames.com/en-US/privacypolicy?lang=en-US">Privacy
            Policy</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 legal">
      <ul class="logos">
        <!--<li><i title="" class="text-color-nonactive eg-footer-icon-eg"></i></li>
        <li><i title="" class="text-color-nonactive eg-footer-icon-ue"></i></li>
        <li><i title="" class="text-color-nonactive eg-footer-icon-pcGame"></i></li>
        <li><i title="" class="text-color-nonactive eg-footer-icon-ps5-ps4"></i></li>
        <li><i title="" class="text-color-nonactive eg-footer-icon-xbox-series"></i></li>
        <li><i title="" class="text-color-nonactive eg-footer-icon-switch"></i></li>-->
        <li><i title="" class="text-color-nonactive eg-footer-icon-android"></i></li>
        <li><i title="" class="text-color-nonactive eg-footer-icon-ios"></i></li>
      </ul>
    </div>
  </div>
</footer>