
<script src="/public/js/js_6A-3PkV3wTmnI1urqd7JOlgtOPvZAY_91rOdoj06S9Y.js"></script>
<script src="/public//js/bootstrap.one min.js"></script>
<script src="https://static.addtoany.com/menu/page.js" async=""></script>
<script src="/public/js/js_VAXTov-w_VVEbzAXBgPFEMzjeVlblzSyMLpI0rOJOEA.js"></script>
<script src="/public/js/aos.js"></script>
<script src="/public/js/js_T3stddKlofpvAwozY2KhPXV23XK-kkEYv9sXfOkvab4.js"></script>
<script src="/public/js/ima3.js"></script>
<script src="//www.youtube.com/iframe_api"></script>
<script src="/public/js/js_EZtaBvGSotFHLUeM0wuBUoJBOgx6lyxw--3ZZ3dr47E.js"></script>
<script src="/public/js/ufc_overlay.js?v=9.3.3"></script>
<script src="/public/js/js_vfwR_Uvz2RA2pjhXgw3mGNsvC3bPJYFQ1mNVvJII-ZQ.js"></script>
<script
    type="text/javascript">window.NREUM || (NREUM = {}); NREUM.info = { "beacon": "bam-cell.nr-data.net", "licenseKey": "3cad7d7fc7", "applicationID": "190390077", "transactionName": "NgZVbUYDCEdSVEdeWA9MdExHFglZHFtDDVIXBllNRw==", "queueTime": 0, "applicationTime": 1522, "atts": "GkFCGw4ZGxgRVhENTBwe", "errorBeacon": "bam-cell.nr-data.net", "agent": "" }</script>

<ul id="ui-id-1" tabindex="0"
    class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front search-api-autocomplete-search"
    style="display: none;"></ul>
<div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>

{{!-- back to top button --}}
<button id="backtotop" style="display: block;"></button>

<div class="video-player-float-wrapper"></div>
<div id="cboxOverlay" style="display: none;"></div>
<div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
    <div id="cboxWrapper">
        <div>
            <div id="cboxTopLeft" style="float: left;"></div>
            <div id="cboxTopCenter" style="float: left;"></div>
            <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxMiddleLeft" style="float: left;"></div>
            <div id="cboxContent" style="float: left;">
                <div id="cboxTitle" style="float: left;"></div>
                <div id="cboxCurrent" style="float: left;"></div><button type="button"
                    id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button type="button"
                    id="cboxSlideshow"></button>
                <div id="cboxLoadingOverlay" style="float: left;"></div>
                <div id="cboxLoadingGraphic" style="float: left;"></div>
            </div>
            <div id="cboxMiddleRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxBottomLeft" style="float: left;"></div>
            <div id="cboxBottomCenter" style="float: left;"></div>
            <div id="cboxBottomRight" style="float: left;"></div>
        </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
</div>