<div class="item-list">

    <ul class="l-flex--4col-1to4">
        {{#each data}}
        <li class="l-flex__item">
            <div class="node node--type-athlete node--view-mode-all-athletes-result ds-1col clearfix">

                <div class="c-listing-athlete-flipcard white">

                    <div class="c-listing-athlete-flipcard__inner">

                        <div class="c-listing-athlete-flipcard__front">

                            <div class="c-listing-athlete__thumbnail">
                                <div
                                    class="field field--name-image field--type-entity-reference field--label-hidden field__item">
                                    <div class="layout layout--onecol">
                                        <div class="layout__region layout__region--content">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-09/69243%252Fprofile-galery%252Fprofile-picture%252FABDURAKHIMOV_SHAMIL_09-25.png?h=a30e7339&amp;itok=cqL5yPBi"
                                                loading="lazy" class="image-style-teaser" width="400" height="300">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {{!-- athlete text --}}
                            <div class="c-listing-athlete__text">

                                <span class="c-listing-athlete__nickname">
                                    <div class="field field--name-nickname field--type-string field--label-hidden">
                                        <div class="field__item">"Abrek"</div>
                                    </div>
                                </span>

                                <span class="c-listing-athlete__name">
                                    Shamil Abdurakhimov
                                </span>

                                <span class="c-listing-athlete__title">
                                    <div
                                        class="field field--name-stats-weight-class field--type-entity-reference field--label-hidden field__items">
                                        <div class="field__item">Heavyweight</div>
                                    </div>
                                </span>

                                <span class="c-listing-athlete__record">20-6-0 (W-L-D)</span>

                            </div>

                        </div>
                        {{!-- Athlete flip card --}}
                        <div class="c-listing-athlete-flipcard__back">

                            <div class="c-listing-athlete__bgimg">
                                <div
                                    class="field field--name-image-body-right field--type-entity-reference field--label-hidden field__item">
                                    <div class="layout layout--onecol">
                                        <div class="layout__region layout__region--content">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/event_fight_card_upper_body_of_standing_athlete/s3/2021-11/ABDURAKHIMOV_SHAMIL_R_09-25.png?itok=Pg4BYYe6"
                                                loading="lazy"
                                                class="image-style-event-fight-card-upper-body-of-standing-athlete"
                                                width="185" height="536">

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="c-listing-athlete-flipcard__text__back">

                                <span class="c-listing-athlete__nickname">
                                    <div class="field field--name-nickname field--type-string field--label-hidden">
                                        <div class="field__item">"Abrek"</div>
                                    </div>
                                </span>

                                <span class="c-listing-athlete__name">
                                    Shamil Abdurakhimov
                                </span>

                            </div>

                            <div class="c-listing-athlete-flipcard__action">

                                <a href="/athlete/shamil-abdurakhimov" class="e-button--black "><span
                                        class="e-button__text">

                                        Athlete Profile
                                    </span></a>
                            </div>

                            <div class="c-listing-athlete-flipcard__footer">
                                <h4>Follow</h4>

                                <ul class="c-listing-athlete-flipcard__social-menu">
                                    <li class="c-listing-athlete-flipcard__social-item">
                                        <a class="c-listing-athlete-flipcard__social-link"
                                            href="https://twitter.com/ShamilAbrek" target="_blank"><span
                                                class="c-listing-athlete-flipcard__social-icon">

                                                <span class="e-icon--small"><svg class="e-icon__svg">
                                                        <title>Twitter</title>
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#twitter">
                                                        </use>
                                                    </svg></span>
                                            </span></a>
                                    </li>
                                    <li class="c-listing-athlete-flipcard__social-item">
                                        <a class="c-listing-athlete-flipcard__social-link"
                                            href="https://instagram.com/ShamilAbdurakhimov" target="_blank"><span
                                                class="c-listing-athlete-flipcard__social-icon">

                                                <span class="e-icon--small"><svg class="e-icon__svg">
                                                        <title>Instagram</title>
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#instagram">
                                                        </use>
                                                    </svg></span>
                                            </span></a>
                                    </li>

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </li>
        {{/each}}
    </ul>
</div>