<body class="fontyourface path-athletes" data-aos-easing="ease" data-aos-duration="500" data-aos-delay="0"
  style="padding-bottom: 484px;">
  <a href="#main-content" class="u-visually--hidden focusable">
    Skip to main content
  </a>

  <noscript aria-hidden="true"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFBHZX5" height="0"
      width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
    <div class="l-page">

      {{>b_navbar}}

      <div class="l-page__pre-content">
        <div data-drupal-messages-fallback="" class="hidden"></div>


      </div>

      <div class="l-page__utilities">

      </div>

      <main class="l-page__main">
        <a id="main-content" tabindex="-1"></a>

        <div class="l-page__content">

          <div class="l-main">

            <div>

              <div>


                <div class="l-main__content ">
                  <div class="l-main__system-content">


                    <div id="block-mainpagecontent" class="block block-system block-system-main-block">


                      <div class="ds-1col ds-1col-filters clearfix">



                        <div class="block-region-ds-content">
                          <div class="block block-core block-page-title-block">



                            <h1 class="page-title">Athletes - All</h1>


                          </div>
                          <div class="views-element-container block block-views block-views-blockall-athletes-page">




                            <div>
                              <div
                                class="js-view-dom-id-290f2bbd3d9d82cdd5fcc70d2d8bf8636dd508b28c5edbee778a710f0da15f24 view-all-athletes view-id-all_athletes"
                                data-once="ajax-pager">




{{!-- main --}}

                                <form class="views-exposed-form bef-exposed-form" data-bef-auto-submit-full-form=""
                                  data-bef-auto-submit="" data-bef-auto-submit-delay="500"
                                  data-drupal-selector="views-exposed-form-all-athletes-page" action="/athletes/all"
                                  method="get" id="views-exposed-form-all-athletes-page" accept-charset="UTF-8"
                                  data-once="exposed-form">
                                  <div class="form--inline clearfix">
                                    <fieldset data-drupal-selector="edit-gender"
                                      class="athele-all-gender fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper"
                                      id="edit-gender--RGzJr3cFxJs--wrapper">
                                      <legend>
                                        <span class="fieldset-legend"></span>
                                      </legend>
                                      <div class="fieldset-wrapper">
                                        <div id="edit-gender--RGzJr3cFxJs" class="form-radios">
                                          <div class="form-radios">
                                            <div
                                              class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-gender form-item-gender">
                                              <input data-drupal-selector="edit-gender-all-zsbwb-yl4i4" type="radio"
                                                id="edit-gender-all--ZsbwB_yL4i4" name="gender" value="All"
                                                checked="checked" class="form-radio">

                                              <label for="edit-gender-all--ZsbwB_yL4i4" class="option">All</label>
                                            </div>

                                            <div
                                              class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-gender form-item-gender">
                                              <input data-drupal-selector="edit-gender-2-xbkn4eywfcs" type="radio"
                                                id="edit-gender-2--xBkn4eyWFCs" name="gender" value="2"
                                                class="form-radio">

                                              <label for="edit-gender-2--xBkn4eyWFCs" class="option">Women</label>
                                            </div>

                                            <div
                                              class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-gender form-item-gender">
                                              <input data-drupal-selector="edit-gender-1-ar1jcbnw9jk" type="radio"
                                                id="edit-gender-1--AR1jCbNw9Jk" name="gender" value="1"
                                                class="form-radio">

                                              <label for="edit-gender-1--AR1jCbNw9Jk" class="option">Men</label>
                                            </div>

                                          </div>
                                        </div>

                                      </div>
                                    </fieldset>
                                    <div class="athletes-all-current-filters">


                                      <div class="filter-control filter-options-container invisible">
                                        <div class="filter-control-header">
                                          <span class="filter-number">0</span>
                                          <span class="filter-dropdown-label"> Filters</span>
                                          <span class="btn-filter-open">
                                            <i class="icon-triangle-down"></i>
                                          </span>
                                        </div>

                                        <ul class="filter-control-list filters-ul">
                                        </ul>
                                      </div>

                                    </div>
                                    <div class="althelete-total">1214 Athletes</div>
                                    <div
                                      class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-search form-item-search form-no-label">

                                      <input placeholder="Search for Athletes"
                                        class="ufc-search-instant-search form-text" data-drupal-selector="edit-search"
                                        type="text" id="edit-search--MfnQFmmIYVU" name="search" value="" size="30"
                                        maxlength="128" autocomplete="off">

                                    </div>


                                    <div data-drupal-selector="edit-actions"
                                      class="form-actions js-form-wrapper form-wrapper" id="edit-actions--7V5n_vLz-3g">
                                      <input data-bef-auto-submit-click=""
                                        class="js-hide button js-form-submit form-submit"
                                        data-drupal-selector="edit-submit-all-athletes-k-xft-1o1ji" type="submit"
                                        id="edit-submit-all-athletes--K_xfT-1O1jI" value="Apply" style="display: none;">
                                    </div>





                                  </div>

                                </form>


{{!-- all atheltes cards --}}
                                <div class="view-items-outer-wrp">
                                  <div class="view-items-wrp">






                                    <div data-drupal-views-infinite-scroll-content-wrapper=""
                                      class="views-infinite-scroll-content-wrapper clearfix">

                                      <div class="item-list">

                                        <ul class="l-flex--4col-1to4">
                                          <li class="l-flex__item">
                                            <div
                                              class="node node--type-athlete node--view-mode-all-athletes-result ds-1col clearfix">

                                              <div class="c-listing-athlete-flipcard white">

                                                <div class="c-listing-athlete-flipcard__inner">

                                                  <div class="c-listing-athlete-flipcard__front">

                                                    <div class="c-listing-athlete__thumbnail">
                                                      <div
                                                        class="field field--name-image field--type-entity-reference field--label-hidden field__item">
                                                        <div class="layout layout--onecol">
                                                          <div class="layout__region layout__region--content">
                                                            <img
                                                              src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-09/69243%252Fprofile-galery%252Fprofile-picture%252FABDURAKHIMOV_SHAMIL_09-25.png?h=a30e7339&amp;itok=cqL5yPBi"
                                                              loading="lazy" class="image-style-teaser" width="400"
                                                              height="300">




                                                          </div>
                                                        </div>

                                                      </div>
                                                    </div>

                                                    <div class="c-listing-athlete__text">

                                                      <span class="c-listing-athlete__nickname">
                                                        <div
                                                          class="field field--name-nickname field--type-string field--label-hidden">
                                                          <div class="field__item">"Abrek"</div>
                                                        </div>
                                                      </span>

                                                      <span class="c-listing-athlete__name">
                                                        Shamil Abdurakhimov
                                                      </span>

                                                      <span class="c-listing-athlete__title">
                                                        <div
                                                          class="field field--name-stats-weight-class field--type-entity-reference field--label-hidden field__items">
                                                          <div class="field__item">Heavyweight</div>
                                                        </div>
                                                      </span>

                                                      <span class="c-listing-athlete__record">20-6-0 (W-L-D)</span>

                                                    </div>

                                                  </div>

                                                  <div class="c-listing-athlete-flipcard__back">

                                                    <div class="c-listing-athlete__bgimg">
                                                      <div
                                                        class="field field--name-image-body-right field--type-entity-reference field--label-hidden field__item">
                                                        <div class="layout layout--onecol">
                                                          <div class="layout__region layout__region--content">
                                                            <img
                                                              src="https://dmxg5wxfqgb4u.cloudfront.net/styles/event_fight_card_upper_body_of_standing_athlete/s3/2021-11/ABDURAKHIMOV_SHAMIL_R_09-25.png?itok=Pg4BYYe6"
                                                              loading="lazy"
                                                              class="image-style-event-fight-card-upper-body-of-standing-athlete"
                                                              width="185" height="536">




                                                          </div>
                                                        </div>

                                                      </div>
                                                    </div>

                                                    <div class="c-listing-athlete-flipcard__text__back">

                                                      <span class="c-listing-athlete__nickname">
                                                        <div
                                                          class="field field--name-nickname field--type-string field--label-hidden">
                                                          <div class="field__item">"Abrek"</div>
                                                        </div>
                                                      </span>

                                                      <span class="c-listing-athlete__name">
                                                        Shamil Abdurakhimov
                                                      </span>

                                                    </div>

                                                    <div class="c-listing-athlete-flipcard__action">



                                                      <a href="/athlete/shamil-abdurakhimov"
                                                        class="e-button--black "><span class="e-button__text">

                                                          Athlete Profile
                                                        </span></a>
                                                    </div>

                                                    <div class="c-listing-athlete-flipcard__footer">
                                                      <h4>Follow</h4>

                                                      <ul class="c-listing-athlete-flipcard__social-menu">
                                                        <li class="c-listing-athlete-flipcard__social-item">
                                                          <a class="c-listing-athlete-flipcard__social-link"
                                                            href="https://twitter.com/ShamilAbrek" target="_blank"><span
                                                              class="c-listing-athlete-flipcard__social-icon">



                                                              <span class="e-icon--small"><svg class="e-icon__svg">
                                                                  <title>Twitter</title>
                                                                  <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#twitter">
                                                                  </use>
                                                                </svg></span>
                                                            </span></a>
                                                        </li>
                                                        <li class="c-listing-athlete-flipcard__social-item">
                                                          <a class="c-listing-athlete-flipcard__social-link"
                                                            href="https://instagram.com/ShamilAbdurakhimov"
                                                            target="_blank"><span
                                                              class="c-listing-athlete-flipcard__social-icon">



                                                              <span class="e-icon--small"><svg class="e-icon__svg">
                                                                  <title>Instagram</title>
                                                                  <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#instagram">
                                                                  </use>
                                                                </svg></span>
                                                            </span></a>
                                                        </li>

                                                      </ul>

                                                    </div>

                                                  </div>

                                                </div>

                                              </div>






                                            </div>

                                          </li>
                                        </ul>

                                      </div>
                                      <div
                                        class="view view-promos-panel-views view-id-promos_panel_views view-display-id-brand_voice js-view-dom-id-89ac0fd12aa984f989c94ca469849e2bec11a7426549b7bfddc3288f82141a65">




                                      </div>
                                    </div>





                                  </div>
                                </div>


{{!-- load more --}}
                                <ul class="js-pager__items pager" data-drupal-views-infinite-scroll-pager="">
                                  <li class="pager__item">
                                    <a class="button" href="?gender=All&amp;search=&amp;page=1" title="Load more items"
                                      rel="next">Load More</a>
                                  </li>
                                </ul>





                              </div>



                            </div>





                          </div>
                          <div
                            class="views-element-container block block-views block-views-blockcontent-footer-new-block-2">




                            <div>
                              <div
                                class="view view-content-footer-new view-id-content_footer_new view-display-id-block_2 js-view-dom-id-40364922e162691bdccd0139465a799bfc5e959494de5bf480728b913fc4d4c6">



                                <div class="view-content">
                                  <div style="margin-top: 80px; margin-bottom: 60px;">:






                                    {{>news_card}}
                                    :
                                  </div>

                                </div>

                              </div>
                            </div>





                          </div>
                        </div>

                        <aside class="l-page_filters">
                          <div class="facet-filter-top-nav">
                            <div class="facet-filter__inner">
                              <span class="facet-tnav-label">Filter <span class="facet-tnav-label--white">1214
                                  Athletes</span></span>
                            </div>
                            <div class="facet-filter__close">



                              <span class="e-icon"><svg class="e-icon__svg" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#close"></use>
                                </svg></span>
                            </div>
                          </div>
                          <div class="facets-blks-wrp">
                            <div class="filter-shade"></div>
                            <div class="sidebar-first-inner-wrp">
                              <div class="block-region-ds-filters">
                                <div
                                  class="facet-active block-facets-ajax js-facet-block-id-facet_block:status block-facet--links block block-facets block-facet-blockstatus">

                                  <div class="block-facets__header">
                                    <div class="facet-hwrp">
                                      <span class="facet-label">By Collections</span>
                                      <div class="js-cfilters facets-cfs"><span class="cfs-label">All</span></div>
                                    </div>

                                  </div>

                                  <div class="facets-widget-links">
                                    <ul data-drupal-facet-id="status" data-drupal-facet-alias="status"
                                      class="facet-active js-facets-links item-list__links">
                                      <li><a href="/athletes/all">All</a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=status%3A778"
                                          rel="nofollow" data-drupal-facet-item-id="status-778"
                                          data-drupal-facet-item-value="778" data-drupal-facet-item-count="314"><span
                                            class="facet-item__value">Not Fighting</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=status%3A319"
                                          rel="nofollow" data-drupal-facet-item-id="status-319"
                                          data-drupal-facet-item-value="319" data-drupal-facet-item-count="63"><span
                                            class="facet-item__value">Retired</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A4&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="status-4"
                                          data-drupal-facet-item-value="4" data-drupal-facet-item-count="15"><span
                                            class="facet-item__value">Title Holder</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A3&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="status-3"
                                          data-drupal-facet-item-value="3" data-drupal-facet-item-count="3"><span
                                            class="facet-item__value">Hall of Fame</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=status%3A779"
                                          rel="nofollow" data-drupal-facet-item-id="status-779"
                                          data-drupal-facet-item-value="779" data-drupal-facet-item-count="3"><span
                                            class="facet-item__value">Released</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A5&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="status-5"
                                          data-drupal-facet-item-value="5" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">Interim Title Holder</span>
                                        </a></li>
                                      <li class="facet-item"><a href="/athletes/all" rel="nofollow" class="is-active"
                                          data-drupal-facet-item-id="status-23" data-drupal-facet-item-value="23"
                                          data-drupal-facet-item-count="766"> <span
                                            class="facet-item__status js-facet-deactivate">(-)</span>
                                          <span class="facet-item__value">Active</span>
                                        </a></li>
                                    </ul>
                                  </div>

                                </div>

                                <div
                                  class="facet-inactive block-facets-ajax js-facet-block-id-facet_block:athletes_weight_class block-facet--links block block-facets block-facet-blockathletes-weight-class">

                                  <div class="block-facets__header">
                                    <div class="facet-hwrp">
                                      <span class="facet-label">BY DIVISION</span>
                                      <div class="js-cfilters facets-cfs"><span class="cfs-label">All</span></div>
                                    </div>

                                  </div>

                                  <div class="facets-widget-links">
                                    <ul data-drupal-facet-id="athletes_weight_class"
                                      data-drupal-facet-alias="weight_class"
                                      class="facet-inactive js-facets-links item-list__links">
                                      <li>All</li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A10"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-10"
                                          data-drupal-facet-item-value="10" data-drupal-facet-item-count="52"><span
                                            class="facet-item__value">Flyweight</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A8"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-8"
                                          data-drupal-facet-item-value="8" data-drupal-facet-item-count="92"><span
                                            class="facet-item__value">Bantamweight</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A9"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-9"
                                          data-drupal-facet-item-value="9" data-drupal-facet-item-count="93"><span
                                            class="facet-item__value">Featherweight</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A12"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-12"
                                          data-drupal-facet-item-value="12" data-drupal-facet-item-count="110"><span
                                            class="facet-item__value">Lightweight</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A15"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-15"
                                          data-drupal-facet-item-value="15" data-drupal-facet-item-count="110"><span
                                            class="facet-item__value">Welterweight</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A14"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-14"
                                          data-drupal-facet-item-value="14" data-drupal-facet-item-count="79"><span
                                            class="facet-item__value">Middleweight</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A13"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-13"
                                          data-drupal-facet-item-value="13" data-drupal-facet-item-count="52"><span
                                            class="facet-item__value">Light Heavyweight</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A11"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-11"
                                          data-drupal-facet-item-value="11" data-drupal-facet-item-count="50"><span
                                            class="facet-item__value">Heavyweight</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A16"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-16"
                                          data-drupal-facet-item-value="16" data-drupal-facet-item-count="47"><span
                                            class="facet-item__value">Women's Strawweight</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A38"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-38"
                                          data-drupal-facet-item-value="38" data-drupal-facet-item-count="45"><span
                                            class="facet-item__value">Women's Flyweight</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A37"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-37"
                                          data-drupal-facet-item-value="37" data-drupal-facet-item-count="30"><span
                                            class="facet-item__value">Women's Bantamweight</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=status%3A23&amp;filters%5B1%5D=weight_class%3A39"
                                          rel="nofollow" data-drupal-facet-item-id="weight-class-39"
                                          data-drupal-facet-item-value="39" data-drupal-facet-item-count="6"><span
                                            class="facet-item__value">Women's Featherweight</span>
                                        </a></li>
                                    </ul>
                                  </div>

                                </div>

                                <div
                                  class="facet-inactive block-facets-ajax js-facet-block-id-facet_block:athletes_fighting_style block-facet--links block block-facets block-facet-blockathletes-fighting-style">

                                  <div class="block-facets__header">
                                    <div class="facet-hwrp">
                                      <span class="facet-label">By Fighting Style</span>
                                      <div class="js-cfilters facets-cfs"><span class="cfs-label">All</span></div>
                                    </div>

                                  </div>

                                  <div class="facets-widget-links">
                                    <ul data-drupal-facet-id="athletes_fighting_style"
                                      data-drupal-facet-alias="fighting_style"
                                      class="facet-inactive js-facets-links item-list__links">
                                      <li>All</li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7146&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7146"
                                          data-drupal-facet-item-value="7146" data-drupal-facet-item-count="162"><span
                                            class="facet-item__value">MMA</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7143&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7143"
                                          data-drupal-facet-item-value="7143" data-drupal-facet-item-count="16"><span
                                            class="facet-item__value">Boxer</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7163&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7163"
                                          data-drupal-facet-item-value="7163" data-drupal-facet-item-count="4"><span
                                            class="facet-item__value">Taekwondo</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7209&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7209"
                                          data-drupal-facet-item-value="7209" data-drupal-facet-item-count="5"><span
                                            class="facet-item__value">Sambo</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7823&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7823"
                                          data-drupal-facet-item-value="7823" data-drupal-facet-item-count="7"><span
                                            class="facet-item__value">Brawler</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7160&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7160"
                                          data-drupal-facet-item-value="7160" data-drupal-facet-item-count="9"><span
                                            class="facet-item__value">Judo</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7180&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7180"
                                          data-drupal-facet-item-value="7180" data-drupal-facet-item-count="11"><span
                                            class="facet-item__value">Karate</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7886&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7886"
                                          data-drupal-facet-item-value="7886" data-drupal-facet-item-count="13"><span
                                            class="facet-item__value">Wrestler</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A6888&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-6888"
                                          data-drupal-facet-item-value="6888" data-drupal-facet-item-count="16"><span
                                            class="facet-item__value">Boxing</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7144&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7144"
                                          data-drupal-facet-item-value="7144" data-drupal-facet-item-count="90"><span
                                            class="facet-item__value">Freestyle</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7152&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7152"
                                          data-drupal-facet-item-value="7152" data-drupal-facet-item-count="20"><span
                                            class="facet-item__value">Grappler</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7150&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7150"
                                          data-drupal-facet-item-value="7150" data-drupal-facet-item-count="22"><span
                                            class="facet-item__value">Brazilian Jiu-Jitsu</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7148&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7148"
                                          data-drupal-facet-item-value="7148" data-drupal-facet-item-count="28"><span
                                            class="facet-item__value">Kickboxer</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7149&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7149"
                                          data-drupal-facet-item-value="7149" data-drupal-facet-item-count="32"><span
                                            class="facet-item__value">Wrestling</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7145&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7145"
                                          data-drupal-facet-item-value="7145" data-drupal-facet-item-count="42"><span
                                            class="facet-item__value">Jiu-Jitsu</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A7147&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-7147"
                                          data-drupal-facet-item-value="7147" data-drupal-facet-item-count="53"><span
                                            class="facet-item__value">Muay Thai</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A6887&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-6887"
                                          data-drupal-facet-item-value="6887" data-drupal-facet-item-count="76"><span
                                            class="facet-item__value">Striker</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=fighting_style%3A6886&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="fighting-style-6886"
                                          data-drupal-facet-item-value="6886" data-drupal-facet-item-count="3"><span
                                            class="facet-item__value">Kung Fu</span>
                                        </a></li>
                                    </ul>
                                  </div>

                                </div>

                                <div
                                  class="facet-inactive block-facets-ajax js-facet-block-id-facet_block:athletes_residence_country_code block-facet--ufc-facets-links block block-facets block-facet-blockathletes-residence-country-code">

                                  <div class="block-facets__header">
                                    <div class="facet-hwrp">
                                      <span class="facet-label">BY LOCATION</span>
                                      <div class="js-cfilters facets-cfs"><span class="cfs-label">All</span></div>
                                    </div>

                                  </div>

                                  <div class="facets-widget-ufc_facets_links">
                                    <ul data-drupal-facet-id="athletes_residence_country_code"
                                      data-drupal-facet-alias="location"
                                      class="facet-inactive item-list__ufc_facets_links"
                                      data-ufc-facet-id="athletes-residence-country-code">
                                      <li>All</li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AAR&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ar"
                                          data-drupal-facet-item-value="AR" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">Argentina</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AAM&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-am"
                                          data-drupal-facet-item-value="AM" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Armenia</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AAU&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-au"
                                          data-drupal-facet-item-value="AU" data-drupal-facet-item-count="16"><span
                                            class="facet-item__value">Australia</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AAT&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-at"
                                          data-drupal-facet-item-value="AT" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Austria</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ABR&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-br"
                                          data-drupal-facet-item-value="BR" data-drupal-facet-item-count="81"><span
                                            class="facet-item__value">Brazil</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ABG&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-bg"
                                          data-drupal-facet-item-value="BG" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Bulgaria</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ACA&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ca"
                                          data-drupal-facet-item-value="CA" data-drupal-facet-item-count="22"><span
                                            class="facet-item__value">Canada</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ACN&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-cn"
                                          data-drupal-facet-item-value="CN" data-drupal-facet-item-count="14"><span
                                            class="facet-item__value">China</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ACZ&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-cz"
                                          data-drupal-facet-item-value="CZ" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">Czechia</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ADK&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-dk"
                                          data-drupal-facet-item-value="DK" data-drupal-facet-item-count="3"><span
                                            class="facet-item__value">Denmark</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AEC&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ec"
                                          data-drupal-facet-item-value="EC" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Ecuador</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AFI&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-fi"
                                          data-drupal-facet-item-value="FI" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">Finland</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AFR&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-fr"
                                          data-drupal-facet-item-value="FR" data-drupal-facet-item-count="8"><span
                                            class="facet-item__value">France</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AGE&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ge"
                                          data-drupal-facet-item-value="GE" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">Georgia</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ADE&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-de"
                                          data-drupal-facet-item-value="DE" data-drupal-facet-item-count="7"><span
                                            class="facet-item__value">Germany</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AGR&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-gr"
                                          data-drupal-facet-item-value="GR" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Greece</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AGU&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-gu"
                                          data-drupal-facet-item-value="GU" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">Guam</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AIS&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-is"
                                          data-drupal-facet-item-value="IS" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Iceland</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AIE&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ie"
                                          data-drupal-facet-item-value="IE" data-drupal-facet-item-count="4"><span
                                            class="facet-item__value">Ireland</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AIT&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-it"
                                          data-drupal-facet-item-value="IT" data-drupal-facet-item-count="4"><span
                                            class="facet-item__value">Italy</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AJP&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-jp"
                                          data-drupal-facet-item-value="JP" data-drupal-facet-item-count="7"><span
                                            class="facet-item__value">Japan</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AJO&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-jo"
                                          data-drupal-facet-item-value="JO" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Jordan</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AKZ&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-kz"
                                          data-drupal-facet-item-value="KZ" data-drupal-facet-item-count="4"><span
                                            class="facet-item__value">Kazakhstan</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AKG&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-kg"
                                          data-drupal-facet-item-value="KG" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">Kyrgyzstan</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ALT&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-lt"
                                          data-drupal-facet-item-value="LT" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Lithuania</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AMX&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-mx"
                                          data-drupal-facet-item-value="MX" data-drupal-facet-item-count="10"><span
                                            class="facet-item__value">Mexico</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AMD&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-md"
                                          data-drupal-facet-item-value="MD" data-drupal-facet-item-count="3"><span
                                            class="facet-item__value">Moldova</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AMN&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-mn"
                                          data-drupal-facet-item-value="MN" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Mongolia</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AMA&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ma"
                                          data-drupal-facet-item-value="MA" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">Morocco</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ANL&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-nl"
                                          data-drupal-facet-item-value="NL" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Netherlands</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ANZ&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-nz"
                                          data-drupal-facet-item-value="NZ" data-drupal-facet-item-count="7"><span
                                            class="facet-item__value">New Zealand</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ANO&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-no"
                                          data-drupal-facet-item-value="NO" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Norway</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3APA&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-pa"
                                          data-drupal-facet-item-value="PA" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Panama</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3APE&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-pe"
                                          data-drupal-facet-item-value="PE" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Peru</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3APH&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ph"
                                          data-drupal-facet-item-value="PH" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">Philippines</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3APL&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-pl"
                                          data-drupal-facet-item-value="PL" data-drupal-facet-item-count="9"><span
                                            class="facet-item__value">Poland</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3APT&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-pt"
                                          data-drupal-facet-item-value="PT" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Portugal</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ARO&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ro"
                                          data-drupal-facet-item-value="RO" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Romania</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ARU&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ru"
                                          data-drupal-facet-item-value="RU" data-drupal-facet-item-count="29"><span
                                            class="facet-item__value">Russia</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ARS&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-rs"
                                          data-drupal-facet-item-value="RS" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">Serbia</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ASK&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-sk"
                                          data-drupal-facet-item-value="SK" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Slovakia</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AZA&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-za"
                                          data-drupal-facet-item-value="ZA" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">South Africa</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AKR&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-kr"
                                          data-drupal-facet-item-value="KR" data-drupal-facet-item-count="7"><span
                                            class="facet-item__value">South Korea</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AES&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-es"
                                          data-drupal-facet-item-value="ES" data-drupal-facet-item-count="3"><span
                                            class="facet-item__value">Spain</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ASR&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-sr"
                                          data-drupal-facet-item-value="SR" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Suriname</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ASE&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-se"
                                          data-drupal-facet-item-value="SE" data-drupal-facet-item-count="8"><span
                                            class="facet-item__value">Sweden</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ACH&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ch"
                                          data-drupal-facet-item-value="CH" data-drupal-facet-item-count="2"><span
                                            class="facet-item__value">Switzerland</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3ATH&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-th"
                                          data-drupal-facet-item-value="TH" data-drupal-facet-item-count="3"><span
                                            class="facet-item__value">Thailand</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AUA&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ua"
                                          data-drupal-facet-item-value="UA" data-drupal-facet-item-count="4"><span
                                            class="facet-item__value">Ukraine</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AAE&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-ae"
                                          data-drupal-facet-item-value="AE" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">United Arab Emirates</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AGB&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-gb"
                                          data-drupal-facet-item-value="GB" data-drupal-facet-item-count="26"><span
                                            class="facet-item__value">United Kingdom</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AUS&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-us"
                                          data-drupal-facet-item-value="US" data-drupal-facet-item-count="409"><span
                                            class="facet-item__value">United States</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AUY&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-uy"
                                          data-drupal-facet-item-value="UY" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Uruguay</span>
                                        </a></li>
                                      <li class="facet-item"><a
                                          href="/athletes/all?filters%5B0%5D=location%3AUZ&amp;filters%5B1%5D=status%3A23"
                                          rel="nofollow" data-drupal-facet-item-id="location-uz"
                                          data-drupal-facet-item-value="UZ" data-drupal-facet-item-count="1"><span
                                            class="facet-item__value">Uzbekistan</span>
                                        </a></li>
                                    </ul>
                                  </div>

                                </div>

                              </div>
                            </div>
                            <div class="c-facets-abutton">


                              <a class="e-button--small "><span class="e-button__text">

                                  Apply
                                </span></a>
                            </div>
                          </div>
                        </aside>

                      </div>

                    </div>


                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>



       {{>z_footer}}
      </main>
    </div>

  </div>


  
</body>