<section class="l-listing--stacked--full-width">

    <ul class="l-listing__group--bordered">
        {{#each data}}
        <li class="l-listing__item" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            <div class="node node--type-athlete node--view-mode-listing-detail clearfix athlete-listing-detail-wrp">
                <div class="athlete-titleholder-wrp ">
                    <div class="athlete-titleholder-content">
                        <div class="ath--first ath--inline">
                            <div class="ath--winfo ">
                                <div class="ath-wlcass">
                                    <strong class="ath-lf-fl">Flyweight</strong>
                                </div>
                                <div class="ath-weight">
                                    (56.82 kg)
                                </div>
                            </div>
                        </div>
                        <div class="ath--second ath--inline">
                            <div class="atm-thumbnail">
                                <div class="ath-profile--wrp">

                                    <div
                                        class="field field--name-image field--type-entity-reference field--label-hidden field__item">

                                        <div class="c-embedded-single-media">

                                            <div class="c-embedded-single-media__item">
                                                <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/inline/s3/2020-08/FIGUEIREDO_DEIVESON_BELT.png?VersionId=Mtnk5DZbne5nOsVpxYT4XeKNadLa4v7_&amp;itok=fTcwJMbV"
                                                    loading="lazy" class="image-style-inline" width="520" height="325">

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="ath--third ath--inline">
                                <div class="ath-inner-cont">

                                    <div class="ath-pi ath--inline">
                                        <div class="ath-nn ath-lf-fl">
                                            <span class="ath-nn__nickname">
                                                <div
                                                    class="field field--name-nickname field--type-string field--label-hidden">
                                                    <div class="field__item">
                                                        {{firstname}}
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="ath-n ath-lf-fl">
                                            <span class="ath-n__name ath-lf-fl">
                                                <a href="/athlete/"><span
                                                        class="field field--name-title field--type-string field--label-hidden">Deiveson
                                                        {{sirname}}</span>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="ath--records ath-lf-fl">
                                            <span class="c-ath--record ath-lf-fl">
                                                21-2-1
                                                (W-L-D)
                                            </span>
                                        </div>
                                        <div class="ath-lf ath-lf-fl">
                                            <strong>Last
                                                Fight:
                                            </strong>
                                            <span>
                                                <span
                                                    class="view view-fighter-last-fight view-id-fighter_last_fight view-display-id-last_fight">

                                                    <span class="view-content">
                                                        <span class="views-row">Brandon
                                                            Moreno
                                                            vs
                                                            Deiveson
                                                            Figueiredo</span>

                                                    </span>

                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ath-lf ath-lf-fl ath-lf-fl-mob">
                            <div><strong>Last
                                    Fight:
                                </strong> <span>
                                    <span
                                        class="view view-fighter-last-fight view-id-fighter_last_fight view-display-id-last_fight">

                                        <span class="view-content">
                                            <span class="views-row">Brandon
                                                Moreno
                                                vs
                                                Deiveson
                                                Figueiredo</span>

                                        </span>

                                    </span>
                                </span></div>
                        </div>
                        <div class="ath--fourth ath--inline">

                            <div class="e-button--white-expand ">
                                <span class="e-button__text">

                                    Follow
                                </span><span class="e-button__expand--onhover">
                                    <ul class="c-menu-social">
                                        <li class="c-menu-social__item">
                                            <a class="c-menu-social__link" href="https://facebook.com/deivesondaico"
                                                target="_blank"><span class="e-icon--xxsmall"><svg class="e-icon__svg">
                                                        <title>
                                                            Facebook
                                                        </title>
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#facebook">
                                                        </use>
                                                    </svg></span></a>
                                        </li>
                                        <li class="c-menu-social__item">
                                            <a class="c-menu-social__link" href="https://twitter.com/Daico_Deiveson"
                                                target="_blank"><span class="e-icon--xxsmall"><svg class="e-icon__svg">
                                                        <title>
                                                            Twitter
                                                        </title>
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#twitter">
                                                        </use>
                                                    </svg></span></a>
                                        </li>
                                        <li class="c-menu-social__item">
                                            <a class="c-menu-social__link"
                                                href="https://instagram.com/daico_deusdaguerra" target="_blank"><span
                                                    class="e-icon--xxsmall"><svg class="e-icon__svg">
                                                        <title>
                                                            Instagram
                                                        </title>
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#instagram">
                                                        </use>
                                                    </svg></span></a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</section>