<html lang="en" dir="ltr" data-lang="en-us" data-lang-latin="true" data-phase1="" class="js desktop"
    data-react-helmet="lang,dir,data-lang,data-lang-latin,data-phase1">

    {{>top_scripts}}

<body class="riotbar-present-targeted-element riotbar-present">
        <div style="outline:none" tabindex="-1" id="gatsby-focus-wrapper">
            {{>header}}
            <div data-testid="homepage">
                {{{body}}}
            </div>
        </div>
        <div id="gatsby-announcer"
            style="position:absolute;top:0;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0"
            aria-live="assertive" aria-atomic="true"></div>
   <script type="text/javascript"
        id="">function setCookie(c, d, a) { var b = new Date; b.setTime(b.getTime() + 864E5 * a); a = "expires\x3d" + b.toUTCString(); document.cookie = c + "\x3d" + d + "; " + a } google_tag_manager["GTM-5HX3QC8"].macro(4) && 0 < google_tag_manager["GTM-5HX3QC8"].macro(5).length && setCookie("utm_source", google_tag_manager["GTM-5HX3QC8"].macro(6), 180); google_tag_manager["GTM-5HX3QC8"].macro(7) && 0 < google_tag_manager["GTM-5HX3QC8"].macro(8).length && setCookie("utm_medium", google_tag_manager["GTM-5HX3QC8"].macro(9), 180);</script>
    <script type="text/javascript"
        id="">!function (b, e, f, g, a, c, d) { b.fbq || (a = b.fbq = function () { a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments) }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d)) }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js"); fbq("init", "272865610744351"); fbq("track", "PageView");</script>
   {{>z_footer}}
    <script type="text/javascript"
        id="">(function () { var a = document.createElement("script"); a.type = "text/javascript"; a.async = !0; a.src = "https://analytics.tiktok.com/i18n/pixel/sdk.js?sdkid\x3dBTLR3EHGUIG2OSBF1MHG"; var b = document.getElementsByTagName("script")[0]; b.parentNode.insertBefore(a, b) })();</script>
    <script type="text/javascript"
        id="">!function (a, b) { if (!a.rdt) { var c = a.rdt = function () { c.sendEvent ? c.sendEvent.apply(c, arguments) : c.callQueue.push(arguments) }; c.callQueue = []; a = b.createElement("script"); a.src = "https://www.redditstatic.com/ads/pixel.js"; a.async = !0; b = b.getElementsByTagName("script")[0]; b.parentNode.insertBefore(a, b) } }(window, document); rdt("init", "t2_8bo3irah");</script>
    <script type="text/javascript" id="">rdt("track", "PageVisit");</script>
    <script type="text/javascript"
        id="">var rg_ss_pv = 1; sessionStorage.rg_ss_pv ? (rg_ss_pv += 1, sessionStorage.setItem("rg_ss_pv", rg_ss_pv)) : sessionStorage.rg_ss_pv || sessionStorage.setItem("rg_ss_pv", rg_ss_pv);</script>
    <script type="text/javascript"
        id="">!function (b, e, f, g, a, c, d) { b.fbq || (a = b.fbq = function () { a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments) }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d)) }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js"); fbq("init", "760800927982107"); fbq("track", "PageView");</script>

</body>

</html>