<div class="views-element-container block block-views block-views-blockeck-promos-hero">

    <div>
        <div
            class="view view-eck-promos view-id-eck_promos view-display-id-hero js-view-dom-id-f607542b2c50e7914d4ee15746169104d4a2b4dda2ccdc00afe2d88462674fb8">

            <div class="view-content">

                <div class="c-carousel-wrapper c-carousel--gallery" style="opacity: 0.342826;">

                    <div class="c-carousel--gallery__content carousel__inline slick-initialized slick-slider"
                        data-carousel="inline">
                        <div class="slick-list draggable">
                            <div class="slick-track"
                                style="opacity: 1; width: 1520px; transform: translate3d(0px, 0px, 0px);">
                                <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                    aria-hidden="false" style="width: 1520px;">
                                    <div>
                                        <div class="c-carousel__item" style="width: 100%; display: inline-block;">
                                            <div class="c-carousel__item-count-index">1</div>

                                            <div class="c-hero--full"
                                                style="background-image: url(&quot;https://dmxg5wxfqgb4u.cloudfront.net/styles/background_image_xl/s3/2022-02/030522-ufc-272-covington-vs-masvidal-SG-hero.jpg?h=d1cb525d&amp;itok=5TZQyI0f&quot;); transform: translateY(240px);">
                                                <div class="c-hero__image aos-init aos-animate" data-aos="fade"
                                                    data-aos-duration="300"></div>

                                                <div class="c-hero__overlay"></div>
                                                <div class="pager__nav">
                                                    <div class="pager__nav__inner"></div>
                                                </div>
                                                <div class="c-hero--full__container">
                                                    <div class="c-hero--full__content ">
                                                        <div class="c-hero__header">

                                                            <div class="c-hero--full__headline-prefix">UFC 272</div>

                                                            <div class="c-hero--full__headline is-medium-text">
                                                                Covington vs Masvidal
                                                            </div>

                                                            <div class="c-hero__headline-suffix tz-change-inner"
                                                                data-locale="" data-timestamp="" data-metric="">
                                                                Former Friends Turned Rivals Headlines The Main Event
                                                                From Las Vegas
                                                            </div>
                                                        </div>

                                                        <div class="c-hero__actions">

                                                            <a href="/ppv" class="e-button--white "
                                                                tabindex="0"><span class="e-button__text">

                                                                    Order UFC 272
                                                                </span></a>

                                                            <a href="/event/ufc-272"
                                                                class="e-button--white " tabindex="0"><span
                                                                    class="e-button__text">

                                                                    View Fight Card
                                                                </span></a>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="c-hero__end"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>

<div id="views-block-in-action">
    <div>
        <div
            class="view view-in-action view-id-in_action view-display-id-in_action js-view-dom-id-36d22d2aa37938cdf5811a9d5dc9e3035a36d56f121b4875e42ef181431fe251">

            <div class="view-content">
                <div class="views-row">
                    <div class="views-field views-field-view-node"><span class="field-content"><a href="/event/ufc-272"
                                hreflang="en">See these athletes in action at UFC 272</a></span></div>
                </div>

            </div>

        </div>
    </div>

</div>