<div class="block-region-content" style="margin-left:0px;">

    {{!-- invisible --}}
    <div class="block block-core block-page-title-block">

        <h1 class="page-title">Homepage</h1>

    </div>

    {{!-- hero --}}

    {{>hero1btn}}

    {{!-- last, next event box --}}


    {{!-- animate header --}}
    <div style="margin-top: 90px; text-align:center; margin-bottom: 65px;">
        <div class="watch-large-container aos-init aos-animate" data-aos="slide-up" style="margin-top: 0px;">
            <div class="title-highlighted aos-init aos-animate" data-aos="slide-up">
                <div class="field field--name-pre-headline field--type-string field--label-hidden field__item">
                    ORION AFRICA MMA</div>
            </div>
            <h2 class="title-main aos-init aos-animate" data-aos="slide-up">
                <div class="field field--name-headline field--type-string field--label-hidden field__item">
                    Latest news
                </div>
            </h2>
            <p>

            </p>
            {{!-- <div class="clearfix title-highlighted aos-init aos-animate">
                <p style="color: rgb(119, 119, 119);">See fighters at war</p>
            </div> --}}

            <p></p>
        </div>

    </div>


    <div>
        {{>courosel}}
    </div>
    {{!-- animate header --}}
    <div style="margin-top: 95px; margin-bottom: -40px;">
        <div class="watch-small-container aos-init aos-animate" data-aos="slide-up" style="margin-top: 0px;">
            <div class="title-highlighted aos-init aos-animate" data-aos="slide-up">
                <div class="field field--name-pre-headline field--type-string field--label-hidden field__item">
                    Subscribe</div>
            </div>
            {{!-- <h2 class="title-main aos-init aos-animate" data-aos="slide-up">
                <div class="field field--name-headline field--type-string field--label-hidden field__item">
                    Latest News</div>
            </h2> --}}
            <p>

            </p>
            <div
                class="clearfix text-formatted field field--name-text field--type-text-long field--label-hidden field__item">
                {{!-- <p>See fighters in war</p> --}}
            </div>

            <p></p>
        </div>
    </div>

    {{!-- animate header --}}
    <div style="margin-top: 95px; margin-bottom: -40px;">
        <div class="watch-small-container aos-init aos-animate" data-aos="slide-up" style="margin-top: 0px;">
            <div class="title-highlighted aos-init aos-animate" data-aos="slide-up">
                <div class="field field--name-pre-headline field--type-string field--label-hidden field__item">
                    Headlines</div>
            </div>
            <h2 class="title-main aos-init aos-animate" data-aos="slide-up">
                <div class="field field--name-headline field--type-string field--label-hidden field__item">
                    Latest News</div>
            </h2>
            <p>

            </p>
            <div
                class="clearfix text-formatted field field--name-text field--type-text-long field--label-hidden field__item">
                {{!-- <p>See fighters in war</p> --}}
            </div>

            <p></p>
        </div>
    </div>
    {{!-- news container --}}
    {{!-- news container --}}
    <div style="margin-top: -40px;">:
        {{>news_card2}}
        :
    </div>
    {{!-- mid hero --}}
    <div class="grid-item  position_21 size_4x3 type_headline" style="margin-top: 80px;">

        <div class="c-hero--wrapper-full-width">
            <div class="c-hero--prefooter u-animate__reveal" style="background-image: url(/public/images/stadium.jpg)">
                <div class="c-hero__image-wrapper"></div>

                <div class="c-hero__overlay"></div>
                <div class="pager__nav">
                    <div class="pager__nav__inner"></div>
                </div>
                <div class="c-hero--prefooter__container">
                    <div class="c-hero--prefooter__content ">
                        <div class="c-hero__header">

                            <div class="c-hero--prefooter__headline-prefix">
                                ORION Fight Pass</div>

                            <div class="c-hero--prefooter__headline is-medium-text">
                                subscribe
                            </div>

                            <div class="c-hero__headline-suffix tz-change-inner" data-locale="" data-timestamp=""
                                data-metric="">
                                Visit Orion on social media and be a fan
                            </div>
                        </div>

                        <div class="c-hero__actions">



                            <a href="" class="e-button--white "><span class="e-button__text">

                                    social
                                </span></a>

                        </div>
                    </div>

                </div>
                <div class="u-reveal"></div>
                <div class="u-reveal--left">
                    <div class="u-reveal--right"></div>
                </div>
            </div>
        </div>
        <div class="c-hero__end"></div>

    </div>

    {{!-- animate header --}}
    <div style="margin-top: 95px; margin-bottom: -40px;">
        <div class="watch-small-container aos-init aos-animate" data-aos="slide-up" style="margin-top: 0px;">
            <div class="title-highlighted aos-init aos-animate" data-aos="slide-up">
            </div>
            <h2 class="title-main aos-init aos-animate" data-aos="slide-up">
                <div class="field field--name-headline field--type-string field--label-hidden field__item">
                    Events</div>
            </h2>
            <p>

            </p>
            <div
                class="clearfix text-formatted field field--name-text field--type-text-long field--label-hidden field__item">
                {{!-- <p>See fighters in war</p> --}}
            </div>

            <p></p>
        </div>
    </div>
    {{!-- news container --}}
    <div style="margin-top: -40px;">:
        {{>events_card}}
        :
    </div>

    {{!-- animate header --}}
    <div style="margin-top: 95px; margin-bottom: -40px;">
        <div class="watch-small-container aos-init aos-animate" data-aos="slide-up" style="margin-top: 0px;">
            <div class="title-highlighted aos-init aos-animate" data-aos="slide-up">
            </div>
            <h2 class="title-main aos-init aos-animate" data-aos="slide-up">
                <div class="field field--name-headline field--type-string field--label-hidden field__item">
                    Fitness </div>
            </h2>
            <p>

            </p>
            <div
                class="clearfix text-formatted field field--name-text field--type-text-long field--label-hidden field__item">
                {{!-- <p>See fighters in war</p> --}}
            </div>

            <p></p>
        </div>
    </div>
    {{!-- news container --}}
    <div style="margin-top: -40px;">:
        {{>fitness_card}}
        :
    </div>
    {{!-- <div style="margin-bottom:85px;">

        {{>news_card}}

    </div> --}}


    {{>partners}}