<form method="POST" class="d-block ajaxForm" action="/settings/news" enctype="multipart/form-data">
    {{!-- {{user_id}} --}}
    <h4><i class="dripicons-plus"></i> Create news</h4><hr>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title">
            <small id="titlelbl" class="form-text text-muted">title</small>
        </div>

        <div class="form-group col-md-12">
            <label for="imageUrl">Image</label>
            <div class="custom-file-upload">
                <input type="file" class="form-control" id="imageUrl" name="imageUrl">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label for="descriptions">description</label>
            <textarea class="form-control" id="description" name="description" style="height:20vh;"></textarea>
        </div>
        <div class="form-group spinner hidden col-md-12">
                <div class="spinner-border" style="margin-left:45%;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
        </div>
        <div class="form-group  col-md-12">
            <button class="btn btn-block btn-primary" type="submit">add news</button>
        </div>
    </div>
</form>

<script>
    $(".ajaxForm").submit(function(e) {
        $(".spinner").removeClass("hidden");
            e.preventDefault();
            var form = $(this);
            ajaxSubmit(e, form, "POST", showAllNews);
    });
</script>