<form method="POST" class="d-block ajaxForm" action="/settings/articles" enctype="multipart/form-data">
    {{!-- {{user_id}} --}}
    <h4><i class="dripicons-plus"></i> Create Article</h4><hr>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="newsId">Article for news</label>
            <select name="newsId" id="newsId" class="form-control select2" data-toggle="select2" required>
                <option value="" selected>select news</option>
                {{#each News}}
                <option value="{{id}}">{{title}}</option>
                {{/each}}
            </select>
            <small id="newsIdlbl" class="form-text text-muted">Athlete 2</small>
        </div>
        <div class="form-group col-md-12">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
            <small id="titlelbl" class="form-text text-muted">example Diamond Jubilee Hall</small>
        </div>

        <div class="form-group col-md-12">
            <label for="caption">Caption</label>
            <input type="text" class="form-control" id="caption" name="caption" required>
            <small id="captionlbl" class="form-text text-muted">Kinondoni, Upanga</small>
        </div>

        <div class="form-group col-md-12">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" name="author" required>
            <small id="authorlbl" class="form-text text-muted">Dar es Salaam</small>
        </div>

        <div class="form-group col-md-12">
            <label for="article">Article</label>
            <textarea class="form-control" id="article" name="article" style="height:20vh;"></textarea>
        </div>
        <div class="form-group  col-md-12">
            <button class="btn btn-block btn-primary" type="submit">add article</button>
        </div>
    </div>
</form>

<script>$(document).ready(function() {
        $('#newsId').select2({
                dropdownParent: $('#right-modal')
            });
    });
     $(".ajaxForm").submit(function(e) {
        $(".spinner").removeClass("hidden");
            e.preventDefault();
            var form = $(this);
            ajaxSubmit(e, form,"POST", showAllArticles);
    });
</script>