<div id="homePage" class="dark-theme ch3s2">
    {{!-- {{>courosel}} --}}
    <style>
        .my{
            background: transparent;
            background-color:rgb(36, 36, 36); 
        }
         .btn-primary {
           color:rgb(255, 197, 82);
           background-color:rgb(36, 36, 36); 
        }
    </style>
    <div class="blog-wrapper">
        <div class="blog-view-container">
            <div class="blog-view">
                <div>
                    <div class="grid-layout container-fluid">
                        <div class="row">
                            <a title="Street Fighters’ Blanka and Sakura Touch Down in Uncaptured - Compete in the Blanka &amp; Sakura Cup!"
                                id="grid-street-fighters-blanka-and-sakura-touch-down-in-fortnite-compete-in-the-blanka-and-sakura-cup"
                                class="gridItem-large col-xs-12 col-sm-6 col-md-6 col-lg-7 inView"
                                href="/fortnite/en-US/news/street-fighters-blanka-and-sakura-touch-down-in-fortnite-compete-in-the-blanka-and-sakura-cup">
                                <div class="grid-item">
                                    <div class="background-image"
                                        style="background-image: url(&quot;https://cdn2.unrealengine.com/fortnite-blanka-and-sakura-street-fighter-1920x1080-5bd2a92b34f7.jpg&quot;);">
                                        <img src="https://cdn2.unrealengine.com/fortnite-blanka-and-sakura-street-fighter-1920x1080-5bd2a92b34f7.jpg"
                                            class="invisible-image" alt="">
                                    </div>
                                    <div class="grid-content">
                                        <h4 class="date">Apr 26, 2022</h4>
                                        <h1 class="title">Street Fighters’ Blanka &amp; Sakura Touch Down in Uncaptured
                                        </h1>
                                    </div>
                                </div>
                            </a>
                            <a
                                title="Uncaptured Battle Royale v20.20 Apr 26 Hotfix: Battle for Rocky Reels + The Light Machine Gun Leaves the Vault"
                                id="grid-fortnite-battle-royale-v20-20-apr-26-hotfix-battle-for-rocky-reels-plus-the-light-machine-gun-leaves-the-vault"
                                class="gridItem-medium col-xs-12 col-sm-6 col-md-6 col-lg-5 inView"
                                href="/fortnite/en-US/news/fortnite-battle-royale-v20-20-apr-26-hotfix-battle-for-rocky-reels-plus-the-light-machine-gun-leaves-the-vault">
                                <div class="grid-item">
                                    <div class="background-image"
                                        style="background-image: url(&quot;https://cdn2.unrealengine.com/fortnite-battle-for-rocky-reels-1920x1080-09b8c2e47401.jpg&quot;);">
                                        <img src="https://cdn2.unrealengine.com/fortnite-battle-for-rocky-reels-1920x1080-09b8c2e47401.jpg"
                                            class="invisible-image" alt="">
                                    </div>
                                    <div class="grid-content">
                                        <h4 class="date">Apr 26, 2022</h4>
                                        <h1 class="title">BR Hotfix: Battle for Rocky Reels + Light Machine Gun</h1>
                                    </div>
                                </div>
                            </a>
                            <a title="Emicida Looks Inward in the Uncaptured Soundwave Series!"
                                id="grid-emicida-looks-inward-in-the-fortnite-soundwave-series"
                                class="gridItem-thirdPos col-xs-12 col-sm-6 col-md-12 col-lg-3 inView"
                                href="/fortnite/en-US/news/emicida-looks-inward-in-the-fortnite-soundwave-series">
                                <div class="grid-item">
                                    <div class="background-image"
                                        style="background-image: url(&quot;https://cdn2.unrealengine.com/20cr-emicida-announce-thumb-576x576-01a0a08d390c.jpg&quot;);">
                                        <img src="https://cdn2.unrealengine.com/20cr-emicida-announce-thumb-576x576-01a0a08d390c.jpg"
                                            class="invisible-image" alt="">
                                    </div>
                                    <div class="grid-content" style="background-color:rgb(36, 36, 36); color:rgb(255, 197, 82);">
                                        <h4 class="date">Apr 22, 2022</h4>
                                        <h1 class="title">Emicida Looks Inward in the Uncaptured Soundwave Series!</h1>
                                    </div>
                                </div>
                            </a>
                            <a
                                title="Uncaptured x Marvel: Zero War - New Five-Issue Comic Book Series Starting June 8! "
                                id="grid-fortnite-x-marvel-zero-war-new-five-issue-comic-book-series-starting-june-8"
                                class="gridItem-small col-xs-12 col-sm-6 col-md-4 col-lg-3 inView"
                                href="/fortnite/en-US/news/fortnite-x-marvel-zero-war-new-five-issue-comic-book-series-starting-june-8">
                                <div class="grid-item">
                                    <div class="background-image"
                                        style="background-image: url(&quot;https://cdn2.unrealengine.com/s20-marvel-x-fortnite-newsthumb-v2-576x576-3fe18e327e00.jpg&quot;);">
                                        <img src="https://cdn2.unrealengine.com/s20-marvel-x-fortnite-newsthumb-v2-576x576-3fe18e327e00.jpg"
                                            class="invisible-image" alt="">
                                    </div>
                                    <div class="grid-content" style="background-color:rgb(36, 36, 36); color:rgb(255, 197, 82);">
                                        <h4 class="date">Apr 22, 2022</h4>
                                        <h1 class="title">Uncaptured x Marvel: Zero War - New Comic Series!</h1>
                                    </div>
                                </div>
                            </a>
                            <a title="Cause Da Ruckus with Wu-Tang Clan Items in Uncaptured"
                                id="grid-cause-da-ruckus-with-wu-tang-clan-items-in-fortnite"
                                class="gridItem-small col-xs-12 col-sm-6 col-md-4 col-lg-3 inView"
                                href="/fortnite/en-US/news/cause-da-ruckus-with-wu-tang-clan-items-in-fortnite">
                                <div class="grid-item">
                                    <div class="background-image"
                                        style="background-image: url(&quot;https://cdn2.unrealengine.com/20br-lyrical-blog-newsthumb-576x576-222554db5c35.jpg&quot;);">
                                        <img src="https://cdn2.unrealengine.com/20br-lyrical-blog-newsthumb-576x576-222554db5c35.jpg"
                                            class="invisible-image" alt="">
                                    </div>
                                    <div class="grid-content" style="background-color:rgb(36, 36, 36); color:rgb(255, 197, 82);">
                                        <h4 class="date">Apr 21, 2022</h4>
                                        <h1 class="title">Cause Da Ruckus with Wu-Tang Clan Items</h1>
                                    </div>
                                </div>
                            </a>

                            <a title="Cause Da Ruckus with Wu-Tang Clan Items in Uncaptured"
                                id="grid-cause-da-ruckus-with-wu-tang-clan-items-in-fortnite"
                                class="gridItem-small col-xs-12 col-sm-6 col-md-4 col-lg-3 inView"
                                href="/fortnite/en-US/news/cause-da-ruckus-with-wu-tang-clan-items-in-fortnite">
                                <div class="grid-item">
                                    <div class="background-image"
                                        style="background-image: url(&quot;https://cdn2.unrealengine.com/20br-lyrical-blog-newsthumb-576x576-222554db5c35.jpg&quot;);">
                                        <img src="https://cdn2.unrealengine.com/20br-lyrical-blog-newsthumb-576x576-222554db5c35.jpg"
                                            class="invisible-image" alt="">
                                    </div>
                                    <div class="grid-content" style="background-color:rgb(36, 36, 36); color:rgb(255, 197, 82);">
                                        <h4 class="date">Apr 21, 2022</h4>
                                        <h1 class="title">Cause Da Ruckus with Wu-Tang Clan Items</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="loading-icon blog-loading" style="display: none;"></div>
                   <div class="load-more"><button class="btn btn-primary btn-load" style="border:2px solid #ffc552;"><span>Load More</span></button></div>
                </div>
            </div>
        </div>
    </div>
</div>