<section data-testid="homepage-hero" class="section dark HomeHero-module--homeHero--1drYm in-view">
    <div class="HomeHero-module--video--33Zyn Video-module--video--phVQq"><video preload="true" muted="" loop=""
            playsinline=""
            poster="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt0a5e500502aabd25/61d908728aabbf6426b75298/Disruption_VAL_DESKTOP_POSTER_1730X720.jpg"
            data-testid="homepage-hero-video">
            <source
                src="https://assets.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt7f806cb08ad5d99f/61d908612e109d6c649d3b87/Disruption_VAL_DESKTOP_1730x720.mp4"
                type="video/mp4">
            </video>
            <div class="poster Video-module--poster--2_eWl"
                style="pointer-events: none; background-image: url(&quot;https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt0a5e500502aabd25/61d908728aabbf6426b75298/Disruption_VAL_DESKTOP_POSTER_1730X720.jpg&quot;); opacity: 0;">
            </div>
    </div>
    <img class="HomeHero-module--ratingImage--2ywEe" src="/assets/images/esrb-rating.png"
        style="opacity: 0; visibility: hidden;">
    <div class="sectionWrapper border-left HomeHero-module--sectionWrapper--3hTRk">
        <div class="HomeHero-module--copyContainer--1565P">
            <div class="icon HomeHero-module--logo--1ZqUE Icon-module--icon--2tHD8 Icon-module--currentColor--LyOgN"
                data-testid="homepage-hero-logo"><h1 style="font-size:95px; font-weight:600;">UNCAPTURED</h1></div>
            <p class="copy-02 bold HomeHero-module--description--2Ua8u" data-testid="homepage-hero-subtitle">Welcome to uncaptured games</p>
        </div><button
            class="button HomeHero-module--downloadButton--3BblN PrimaryButton-module--red--1EPFx undefined PrimaryButton-module--primaryButton--2ec0w "
            type="button" data-interaction-id="uncaptured-home-hero-download" data-testid="homepage-hero-button-download">
            <div class="PrimaryButton-module--label--3gc3A"><span
                    class="PrimaryButton-module--hover-mask--2oPWv PrimaryButton-module--default--2alKM"></span><span
                    class="PrimaryButton-module--label-text--23ce5">PLAY FREE</span></div>
        </button>
        <div class="HomeHero-module--polygon--3bfMn"></div>
    </div>
</section>
<section data-testid="homepage-news" class="section light LatestNews-module--latestNews--f8Sdl">
    <div class="
      BackgroundTextStroke-module--backgroundTextStroke--AVvYI 
      
      ">
        <h2 class="text-stroke  BackgroundTextStroke-module--text--GB4RS" style="transform: translateY(-58.8741px);">
            <span>Africa</span><span>UNCAPTURED</span></h2>
    </div>
    <div class="LatestNews-module--detailBox--2VkGU"></div>
    <div class="sectionWrapper LatestNews-module--sectionWrapper--1BKK0">
        <header class="LatestNews-module--sectionHeader--3TPlE">
            <h2 data-testid="homepage-news-title" class="
        heading-10 en LatestNews-module--title--T-kWO 
        SlideUpTitle-module--slideUpTitle--3OLqo 
        SlideUpTitle-module--inView--1xMIY
        "><span>THE LATEST</span></h2><a
                class="LatestNews-module--seeArticleButton--2ARvD TextButton-module--textButton--2wm3K button "
                data-icon="ArrowRightLong" data-testid="homepage-news-link" href="/en-us/news/">
                <p class="heading-06 TextButton-module--label--tblRt">GO TO NEWS PAGE.</p>
                <div
                    class="icon TextButton-module--icon--113jU Icon-module--icon--2tHD8 Icon-module--currentColor--LyOgN">
                    <svg viewBox="0 0 25 15">
                        <path d="M16.2.5L19.9 4m4.6 3.5l-8.3 7" fill="none" stroke="#ff4655"></path>
                        <path fill="none" stroke="#ff4655" stroke-miterlimit="10" d="M16 7.5H0"></path>
                    </svg>
                </div>
            </a>
        </header>
        <div class="LatestNews-module--sliderWrapper--18vNL">
            <div class="LatestNews-module--contentWrapper--8OJSE">
                 {{!-- a news  --}}
                 {{>news_pallet}}
                {{!-- end of news  --}}
                </div>
        </div>
    </div>
</section>
<section class="section dark grey HomeLatestEpisodeOrAct-module--homeLatestEpisode--1r2ai">
    <div class="HomeLatestEpisodeOrAct-module--keyartContainer--3LMbn"><img
            src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blte6088e7599a28fd3/62b4ac17919dfb0f9bf00456/REV_Valorant_2022_E5A1_PlayUNCAPTURED_PlayValorantHomepage_3440x1020_MB02.jpg"
            alt="keyart" class="HomeLatestEpisodeOrAct-module--keyart--E1AZt"></div>
    <div class="sectionWrapper HomeLatestEpisodeOrAct-module--sectionWrapper--C2WVx">
        <div class="HomeLatestEpisodeOrAct-module--copyContent--2gK8k CopyContent-module--copyContent--3QJRz">
            <h2 class="
        heading-03 en CopyContent-module--title--1fNiv 
        SlideUpTitle-module--slideUpTitle--3OLqo 
        SlideUpTitle-module--inView--1xMIY
        "><span data-testid="homepage-event-overview-title">DIMENSION</span></h2>
            <h5 class="heading-05 CopyContent-module--subtitle--3Yej_" data-testid="homepage-event-overview-subtitle">
                EPISODE_5//ACT I//YR 2</h5><a
                href="https://playuncaptured.com/en-sg/news/game-updates/what-s-new-in-uncaptured-episode-5-act-i/"
                class="button CopyContent-module--button--LR7-Q PrimaryButton-module--red--1EPFx undefined PrimaryButton-module--primaryButton--2ec0w "
                target="_blank" rel="noopener noreferrer" data-interaction-id="homepage-event-overview-button"
                data-testid="homepage-event-overview-button">
                <div class="PrimaryButton-module--label--3gc3A"><span
                        class="PrimaryButton-module--hover-mask--2oPWv PrimaryButton-module--default--2alKM"></span><span
                        class="PrimaryButton-module--label-text--23ce5">Episode 5 Act I Overview</span>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="section light HomeGameOverview-module--homeGameOverview--2249K" data-testid="homepage-gameplay">
    <div data-testid="homepage-overview" class="
            sectionWrapper
            HomeGameOverview-module--sectionWrapper--2_Q1g
            ">
        <div class="HomeGameOverview-module--topDetails--2WI2s"></div>
        <div class="HomeGameOverview-module--detailBox--2aFWC"></div>
        <div class="HomeGameOverview-module--titleContainer--3Foi1">
            <h6 class="
        
      tagline
      HomeGameOverview-module--tagline--58XIC 
      Tagline-module--horizontal--2PE1T 
      Tagline-module--tagline--3sCT-
       
         
        "><span class="scamble-text"><span class="text Tagline-module--text--rh4Ro"></span><span
                        class="text Tagline-module--text--rh4Ro"></span></span></h6>
            <h2 data-testid="homepage-overview-title" class="
        heading-02 en HomeGameOverview-module--title--3WSqQ 
        SlideUpTitle-module--slideUpTitle--3OLqo 
        SlideUpTitle-module--inView--1xMIY
        "><span>WE ARE UNCAPTURED</span></h2>
        </div>
        <div class="HomeGameOverview-module--content--7nXOR">
            <div class="HomeGameOverview-module--copyContent--1QXUf">
                <h5 class="heading-05 HomeGameOverview-module--subtitle--UXR_E"
                    data-testid="homepage-overview-subtitle">DEFY THE LIMITS</h5>
                <p class="copy-02 HomeGameOverview-module--description--3KfCH"
                    data-testid="homepage-overview-description"><span>Blend your style and experience on
                        a global, competitive stage. You have 13 rounds to attack and defend your side
                        using sharp gunplay and tactical abilities. And, with one life per-round, you'll
                        need to think faster than your opponent if you want to survive. Take on foes
                        across Competitive and Unranked modes as well as Deathmatch and Spike
                        Rush.</span></p><a href="https://playuncaptured.com/en-us/news/announcements/beginners-guide/"
                    class="button HomeGameOverview-module--learnTheGameButton--wBYlN PrimaryButton-module--red--1EPFx PrimaryButton-module--borderDark--3AUaI PrimaryButton-module--primaryButton--2ec0w "
                    target="_blank" rel="noopener noreferrer" data-interaction-id="homepage-game-overview-button"
                    data-testid="homepage-overview-link">
                    <div class="PrimaryButton-module--label--3gc3A"><span
                            class="PrimaryButton-module--hover-mask--2oPWv PrimaryButton-module--default--2alKM"></span><span
                            class="PrimaryButton-module--label-text--23ce5">LEARN THE GAME</span></div>
                </a>
            </div>
            <div class="HomeGameOverview-module--mediaContainer--2jiiE" data-testid="homepage-overview-video-thumbnail">
                <div class="GameOverviewVideo-module--gameOverviewVideo--2jyiH">
                    <div class="GameOverviewVideo-module--detailBox--28J2g"></div>
                    <div class="GameOverviewVideo-module--gameOverviewVideoDetail--1pYf9">Gameplay</div>
                    <div class="GameOverviewVideo-module--videoContainer--dC7Rw">
                        <div class="button GameOverviewVideo-module--playButton--D0tqM">
                            <div class="GameOverviewVideo-module--video--2hiL3 Video-module--video--phVQq">
                                <video preload="true" muted="" loop="" playsinline="">
                                    <source
                                        src="https://assets.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltefd45731d8f9d9df/6217f2ea910a6c613c73168c/UNCAPTURED_PLAY22_16x9_Target4_v005.mp4"
                                        type="video/mp4">
                                </video>
                                <div class="poster Video-module--poster--2_eWl"
                                    style="pointer-events: none; background-image: url(&quot;undefined&quot;); opacity: 0;">
                                </div>
                            </div><button
                                class="GameOverviewVideo-module--iconWrapper--24-wJ SecondaryButton-module--secondaryButton--14xxs button"
                                data-theme="game-overview" data-icon="Play" data-hide-custom-cursor="true"
                                data-testid="homepage-gameplayModal-button-open">
                                <div
                                    class="icon SecondaryButton-module--icon--3kTWH Icon-module--icon--2tHD8 Icon-module--currentColor--LyOgN">
                                    <svg viewBox="0 0 72 72">
                                        <path fill="none" stroke="#ece8e1"
                                            d="M33.5 34.5v-5l8 6v2l-8 6v-5m28-29l-7 7m-38 38l-7 7">
                                        </path>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="GameOverviewVideo-module--borderBottom--3KFfm"></div>
                </div>
            </div><span class="heading-bold HomeGameOverview-module--detail00--hTyxd"></span>
        </div>
    </div>
</section>
<section class="section dark red HomeAgents-module--homeAgents--b6FM-" data-testid="homepage-agents">
    <div class="HomeAgents-module--backgroundContainer--lfY30">
        <div class="HomeAgents-module--backgroundSide--2Ev14"></div>
        <div class="HomeAgents-module--backgroundCenter--aDtIk" style="transform: translateY(-211.593px);"></div>
    </div>
    <div class="sectionWrapper HomeAgents-module--sectionWrapper--H-Q3Q">
        <div class="HomeAgents-module--copyContent--32dsa CopyContent-module--copyContent--3QJRz">
            <h2 class="
        heading-03 en CopyContent-module--title--1fNiv 
        SlideUpTitle-module--slideUpTitle--3OLqo 
        SlideUpTitle-module--inView--1xMIY
        "><span data-testid="homepage-agents-title">YOUR AGENTS</span></h2>
            <h5 class="heading-05 CopyContent-module--subtitle--3Yej_" data-testid="homepage-agents-subtitle">CREATIVITY
                IS YOUR GREATEST WEAPON.</h5>
            <p class="copy-02 CopyContent-module--description--UF3p9" data-testid="homepage-agents-description">
                <span>More than guns and bullets, you’ll
                    choose an Agent armed with adaptive, swift, and lethal abilities that create
                    opportunities to let your gunplay shine. No two Agents play alike, just as no two
                    highlight reels will look the same.</span></p><a
                class="button CopyContent-module--button--LR7-Q PrimaryButton-module--default--2alKM undefined PrimaryButton-module--primaryButton--2ec0w "
                data-interaction-id="homepage-agents-button" data-testid="homepage-agents-button" href="/en-us/agents/">
                <div class="PrimaryButton-module--label--3gc3A"><span
                        class="PrimaryButton-module--hover-mask--2oPWv PrimaryButton-module--default--2alKM"></span><span
                        class="PrimaryButton-module--label-text--23ce5">View all agents</span></div>
            </a>
        </div>
        <div class="HomeAgents-module--agents--1AMJb AnimateAgents-module--animateAgents--2dZ76"
            data-testid="homepage-agents-image">
            <div class="AnimateAgents-module--wrapper--3Ftpd" style="transform: translateY(364.76px);">
                <canvas class="AnimateAgents-module--canvas--6t6nP" width="860" height="1046"></canvas>
            </div>
        </div>
    </div>
</section>
<section class="section light HomeMaps-module--homeMaps--36fvV" data-testid="homepage-maps">
    <div class="
      BackgroundTextStroke-module--backgroundTextStroke--AVvYI 
      BackgroundTextStroke-module--hideOnMobile--m2d2n
      ">
        <h2 class="text-stroke HomeMaps-module--backgroundText--1C4g5 BackgroundTextStroke-module--text--GB4RS"
            style="transform: translateY(-999.614px);"><span>Place</span></h2>
    </div>
    <div class="HomeMaps-module--backgroundSide--2ujlw"></div>
    <div class="HomeMaps-module--imageContainer--RcgN0">
        <div class="HomeMaps-module--imgWrapper--1XsE1" style="transform: translateY(297.785px) translateX(595.569px);">
            <img class="HomeMaps-module--img--3TH6c HomeMaps-module--birds--2sc-y"
                src="/static/birds-e9c24f5e9dc9b327da12571475a9892c.png" alt="birds"></div>
        <div class="HomeMaps-module--imgWrapper--1XsE1"><img
                class="HomeMaps-module--img--3TH6c HomeMaps-module--maps--33zPp" data-testid="homepage-maps-image"
                src="/static/maps-03ebbf2c074f13a65af1dba0c80f767e.png" alt="maps"></div>
    </div>
    <div class="sectionWrapper HomeMaps-module--sectionWrapper--1IFdi">
        <div class="HomeMaps-module--copyContent--2CR6y CopyContent-module--copyContent--3QJRz">
            <h2 class="
        heading-03 en CopyContent-module--title--1fNiv 
        SlideUpTitle-module--slideUpTitle--3OLqo 
        
        "><span data-testid="homepage-maps-title">YOUR MAPS</span></h2>
            <h5 class="heading-05 CopyContent-module--subtitle--3Yej_" data-testid="homepage-maps-subtitle">Fight around
                the world</h5>
            <p class="copy-02 CopyContent-module--description--UF3p9" data-testid="homepage-maps-description"><span>Each
                    map is a playground to showcase your
                    creative thinking. Purpose-built for team strategies, spectacular plays, and clutch
                    moments. Make the play others will imitate for years to come.</span></p><a
                class="button CopyContent-module--button--LR7-Q PrimaryButton-module--red--1EPFx PrimaryButton-module--borderDark--3AUaI PrimaryButton-module--primaryButton--2ec0w "
                data-interaction-id="homepage-maps-button" data-testid="homepage-maps-button" href="/en-us/maps/">
                <div class="PrimaryButton-module--label--3gc3A"><span
                        class="PrimaryButton-module--hover-mask--2oPWv PrimaryButton-module--default--2alKM"></span><span
                        class="PrimaryButton-module--label-text--23ce5">View all maps</span></div>
            </a>
        </div>
    </div>
</section>