<div class="article-view" id="articleView">
    <div class="blog-container">
        <div class="blog-header"
            style="background-image: url(&quot;https://cdn2.unrealengine.com/fortnite-battle-for-rocky-reels-1920x1080-09b8c2e47401.jpg&quot;); background-position: center top;">
            <img class="invisible-image" alt=""
                src="https://cdn2.unrealengine.com/fortnite-battle-for-rocky-reels-1920x1080-09b8c2e47401.jpg"></div>
        <section class="blog-article">
            <div class="blog-content container-fluid">
                <article>
                    <div class="cmsContainer">
                        <div class="blog-social top fixed"><i role="presentation"
                                class="epic-blog-icon-facebook facebook"></i><i role="presentation"
                                class="epic-blog-icon-twitter twitter"></i><i role="presentation"
                                class="epic-blog-icon-vk vk"></i><i role="presentation"
                                class="epic-blog-icon-reddit reddit"></i></div>
                        <div class="blog-header-info">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h1 class="blog-header-title">Fortnite Battle Royale v20.20 Apr 26 Hotfix: Battle
                                        for Rocky Reels + The Light Machine Gun Leaves the Vault</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><span class="blog-header-date">4.26.2022</span></div>
                            </div>
                            <div class="row">
                                <div class="blog-header-author col-xs-12"><span>By The Fortnite Team</span></div>
                            </div>
                        </div>
                        <section id="cmsSection" class="cms false">
                            <div>
                                <p>The Battle Royale v20.20 Apr 26 hotfix sees the unvaulting of the Light Machine Gun!
                                    Use this helpful weapon in the next POI Battle:</p>

                                <h2><br>
                                    The Battle for Rocky Reels</h2>

                                <p><img alt="Fortnite The Battle for Rocky Reels"
                                        src="https://cdn2.unrealengine.com/fortnite-the-battle-for-rocky-reels-1920x1080-5028c980ff14.jpg"><br>
                                    <br>
                                    The Resistance has won the Battle for Coney Crossroads! Go to SOFDEEZ with ease once
                                    again. With this POI now held by the Resistance, Funding Stations for an <u>Armored
                                        Battle Bus</u> and <u>set of Turrets</u> can now be found here.<br>
                                    <br>
                                    The fight against the IO continues in the <strong>Battle for Rocky Reels</strong>.
                                    This is no movie: drop into Rocky Reels and help push the IO back! Starring on the
                                    IO side is Huntmaster Saber, again in action overhead.&nbsp;
                                </p>

                                <h2><br>
                                    Out of the Vault: Light Machine Gun</h2>

                                <p><img alt="Fortnite Light Machine Gun"
                                        src="https://cdn2.unrealengine.com/fortnite-light-machine-gun-1900x600-816591971b57.jpg"
                                        style="height:auto; width:auto"><br>
                                    <br>
                                    The Battle for Rocky Reels doesn’t have to be rocky. To assist you, the
                                    <strong>Light Machine Gun (LMG)</strong> has been unvaulted across the Island! Take
                                    advantage of its fast fire rate and 60-round magazine. The longer you hold down its
                                    trigger, the more manageable its recoil becomes.&nbsp;<br>
                                    <br>
                                    Find LMGs on the ground and in Chests, Rare Chests, Supply Drops, and sharks.&nbsp;
                                </p>

                                <h2><br>
                                    Boogie Bomb vs. Rift-To-Go Vote Begins!</h2>

                                <p><img alt="Fortnite Boogie Bomb vs. Rift-To-Go"
                                        src="https://cdn2.unrealengine.com/fortnite-boogie-bomb-vs-rift-to-go-1900x600-9880d7ca977c.jpg"><br>
                                    <br>
                                    Get your Bars ready — the <strong>Boogie Bomb/Rift-To-Go</strong> trial period has
                                    ended and now it’s time for a vote! Funding Stations pitting the two items together
                                    can be found at all major POIs, so head to a Funding Station and contribute Bars to
                                    your preferred choice. The first choice to reach <strong>100% Funded</strong> based
                                    on everyone’s global contributions will win and enter the loot pool immediately!
                                </p>

                                <h2><br>
                                    Competitive Notes</h2>

                                <ul>
                                    <li>
                                        <p>Rocky Reels is not under assault in competitive playlists, but Huntmaster
                                            Saber has still relocated.</p>
                                    </li>
                                    <li>
                                        <p>The LMG is not included in competitive playlists but is subject to an
                                            evaluation period.</p>
                                    </li>
                                    <li>
                                        <p>The winner of the Boogie Bomb vs. Rift-To-Go vote will not immediately be
                                            unvaulted in competitive playlists — but is subject to an evaluation
                                            period.&nbsp;</p>
                                    </li>
                                    <li>
                                        <p>
                                            The Repair Torch has been removed from competitive playlists.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </article>
            </div>
            <div class="prev-link-wrap"><a class="prev-link accent-color"
                    href="/fortnite/en-US/blog/emicida-looks-inward-in-the-fortnite-soundwave-series"><i
                        class="epic-blog-icon-leftArrow"></i><span class="prev-link-text">Previous Article</span></a><a
                    class="slug-link accent-color" href="/fortnite/en-US/blog"><i class="epic-blog-icon-grid"></i></a><a
                    class="next-link accent-color"
                    href="/fortnite/en-US/blog/street-fighters-blanka-and-sakura-touch-down-in-fortnite-compete-in-the-blanka-and-sakura-cup"><i
                        class="epic-blog-icon-rightArrow"></i><span class="next-link-text">Next Article</span></a></div>
        </section>
    </div>
</div>