<div class="blog-wrapper">
    <div class="blog-view-container">
        <div class="blog-view">
            <div>
                <div></div>
                <div class="category-filter overlayCat">
                    <div class="filter-container">
                        <div role="presentation" title="Categories" class="toggleButton"><i
                                class="epic-blog-icon-filter"></i></div>
                        <div class="filter-list">
                            <div role="presentation" class="bkgrd"></div>
                            <div class="filter-content">
                                <div role="presentation" class="closeButton"><i class="epic-blog-icon-close"></i></div>
                                <h3><span>Categories</span></h3>
                                <ul>
                                    <li id="news-cat-all" role="presentation" data-key="all" class="active">
                                        <span><span>All</span></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-layout container-fluid">
                    <div class="row">
                        <a title="Street Fighters’ Blanka and Sakura Touch Down in Fortnite - Compete in the Blanka &amp; Sakura Cup!"
                            id="grid-street-fighters-blanka-and-sakura-touch-down-in-fortnite-compete-in-the-blanka-and-sakura-cup"
                            class="gridItem-large col-xs-12 col-sm-6 col-md-6 col-lg-7 inView" href="/">
                            <div class="kadi">
                                <div class="grid-item">
                                    <div class="background-image"
                                        style="background-image: url(&quot;https://cdn2.unrealengine.com/fortnite-blanka-and-sakura-street-fighter-1920x1080-5bd2a92b34f7.jpg&quot;);">
                                        <img src="https://cdn2.unrealengine.com/fortnite-blanka-and-sakura-street-fighter-1920x1080-5bd2a92b34f7.jpg"
                                            class="invisible-image" alt="">
                                    </div>
                                    <div class="kadi__content" style="background-color:rgb(1, 77, 115);">
                                        <h4 class="kadi__title">Apr 26, 2022</h4>
                                        <h1 class="kadi__title">Street Fighters’ Blanka &amp; Sakura Touch Down in
                                            Uncaptured
                                        </h1>
                                        <p class="kadi__description">Lorem ipsum dolor, sit amet consectetur adipisicing
                                            elit. Aut eligendi maxime deserunt minus magni corporis ab nihil. Saepe ad
                                            sit modi animi numquam dicta magni quae, architecto earum corrupti ut.</p>
                                    </div>
                                </div>
                            </div>
                        </a><a
                            title="Fortnite Battle Royale v20.20 Apr 26 Hotfix: Battle for Rocky Reels + The Light Machine Gun Leaves the Vault"
                            id="grid-fortnite-battle-royale-v20-20-apr-26-hotfix-battle-for-rocky-reels-plus-the-light-machine-gun-leaves-the-vault"
                            class="gridItem-medium col-xs-12 col-sm-6 col-md-6 col-lg-5 inView"
                            href="/news">
                            <div class="kadi">

                                <div class="grid-item">
                                    <div class="background-image"
                                        style="background-image: url(&quot;https://cdn2.unrealengine.com/fortnite-battle-for-rocky-reels-1920x1080-09b8c2e47401.jpg&quot;);">
                                        <img src="https://cdn2.unrealengine.com/fortnite-battle-for-rocky-reels-1920x1080-09b8c2e47401.jpg"
                                            class="invisible-image" alt="">
                                    </div>
                                    <div class="kadi__content" style="background-color:rgb(159, 51, 51);">
                                        <h4 class="date kadi__title">Apr 26, 2022</h4>
                                        <h1 class="title kadi__title">BR Hotfix: Battle for Rocky Reels + Light Machine Gun</h1>
                                        <p class="kadi__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur neque architecto sed ipsum iusto quisquam voluptate nulla aliquam at obcaecati. Odio consequuntur quod ducimus maiores est illum sint soluta a?</p>
                                    </div>
                                </div>
                            </div>
                        </a><a title="Emicida Looks Inward in the Fortnite Soundwave Series!"
                            id="grid-emicida-looks-inward-in-the-fortnite-soundwave-series"
                            class="gridItem-thirdPos col-xs-12 col-sm-6 col-md-12 col-lg-3 inView"
                            href="/fortnite/en-US/news/emicida-looks-inward-in-the-fortnite-soundwave-series">
                            <div class="kadi">
                                <div class="grid-item">
                                <div class="background-image"
                                    style="background-image: url(&quot;https://cdn2.unrealengine.com/20cr-emicida-announce-thumb-576x576-01a0a08d390c.jpg&quot;);">
                                    <img src="https://cdn2.unrealengine.com/20cr-emicida-announce-thumb-576x576-01a0a08d390c.jpg"
                                        class="invisible-image" alt="">
                                </div>
                                <div class="grid-content kadi__content" style="background-color:rgb(47, 81, 123);">
                                    <h4 class="date kadi__title">Apr 22, 2022</h4>
                                    <h1 class="title kadi__title">Emicida Looks Inward in the Uncaptured Soundwave Series!</h1>
                                </div>
                            </div>
                            </div>
                        </a><a title="Fortnite x Marvel: Zero War - New Five-Issue Comic Book Series Starting June 8! "
                            id="grid-fortnite-x-marvel-zero-war-new-five-issue-comic-book-series-starting-june-8"
                            class="gridItem-small col-xs-12 col-sm-6 col-md-4 col-lg-3 inView"
                            href="/fortnite/en-US/news/fortnite-x-marvel-zero-war-new-five-issue-comic-book-series-starting-june-8">
                            <div class="kadi">
                            <div class="grid-item">
                                <div class="background-image"
                                    style="background-image: url(&quot;https://cdn2.unrealengine.com/s20-marvel-x-fortnite-newsthumb-v2-576x576-3fe18e327e00.jpg&quot;);">
                                    <img src="https://cdn2.unrealengine.com/s20-marvel-x-fortnite-newsthumb-v2-576x576-3fe18e327e00.jpg"
                                        class="invisible-image" alt="">
                                </div>
                                <div class="grid-content kadi__content" style="background-color:rgb(52, 127, 50);">
                                    <h4 class="date kadi__title ">Apr 22, 2022</h4>
                                    <h1 class="title kadi__title">Uncaptured x Marvel: Zero War - New Comic Series!</h1>
                                </div>
                            </div>
                            </div>
                        </a><a title="Cause Da Ruckus with Wu-Tang Clan Items in Fortnite"
                            id="grid-cause-da-ruckus-with-wu-tang-clan-items-in-fortnite"
                            class="gridItem-small col-xs-12 col-sm-6 col-md-4 col-lg-3 inView"
                            href="/fortnite/en-US/news/cause-da-ruckus-with-wu-tang-clan-items-in-fortnite">
                            <div class="kadi">
                                <div class="grid-item">
                                <div class="background-image"
                                    style="background-image: url(&quot;https://cdn2.unrealengine.com/20br-lyrical-blog-newsthumb-576x576-222554db5c35.jpg&quot;);">
                                    <img src="https://cdn2.unrealengine.com/20br-lyrical-blog-newsthumb-576x576-222554db5c35.jpg"
                                        class="invisible-image" alt="">
                                </div>
                                <div class="grid-content kadi__content" style="background-color:rgb(132, 28, 130);">
                                    <h4 class="date kadi__title">Apr 21, 2022</h4>
                                    <h1 class="title kadi__title">Cause Da Ruckus with Wu-Tang Clan Items</h1>
                                </div>
                            </div>
                            </div>
                        </a><a title="Save the World | Homebase Status Report 4.21.2022"
                            id="grid-save-the-worlds-newest-update-4-21-2022"
                            class="gridItem-small col-xs-12 col-sm-6 col-md-4 col-lg-3 inView"
                            href="/fortnite/en-US/news/save-the-worlds-newest-update-4-21-2022">
                            <div class="kadi">
                                <div class="grid-item">
                                <div class="background-image"
                                    style="background-image: url(&quot;https://cdn2.unrealengine.com/15stw-blog-evergreen-green-blogthumbnail-576x576-576x576-809c0285aa66.jpg&quot;);">
                                    <img src="https://cdn2.unrealengine.com/15stw-blog-evergreen-green-blogthumbnail-576x576-576x576-809c0285aa66.jpg"
                                        class="invisible-image" alt="">
                                </div>
                                <div class="grid-content kadi__content">
                                    <h4 class="date">Apr 21, 2022</h4>
                                    <h1 class="title">Save the World | Homebase Status Report 4.21.2022</h1>
                                </div>
                            </div>
                            </div>
                        </a><a title="Embrace the Chaos: Moon Knight Sets Upon Fortnite"
                            id="grid-embrace-the-chaos-moon-knight-sets-upon-fortnite"
                            class="gridItem-medium col-xs-12 col-sm-6 col-md-6 col-lg-5 inView"
                            href="/fortnite/en-US/news/embrace-the-chaos-moon-knight-sets-upon-fortnite">
                            <div class="grid-item">
                                <div class="background-image"
                                    style="background-image: url(&quot;https://cdn2.unrealengine.com/20br-moonknightsocialblog-newsthumb-576x576-40018b62e2da.jpg&quot;);">
                                    <img src="https://cdn2.unrealengine.com/20br-moonknightsocialblog-newsthumb-576x576-40018b62e2da.jpg"
                                        class="invisible-image" alt="">
                                </div>
                                <div class="grid-content">
                                    <h4 class="date">Apr 21, 2022</h4>
                                    <h1 class="title">Embrace the Chaos: Moon Knight Sets Upon Uncaptured</h1>
                                </div>
                            </div>
                        </a><a title="Fortnite Lantern Trials: Complete Challenges To Earn In-Game Rewards"
                            id="grid-fortnite-lantern-trials-complete-challenges-to-earn-in-game-rewards"
                            class="gridItem-large col-xs-12 col-sm-6 col-md-6 col-lg-7 inView"
                            href="/fortnite/en-US/news/fortnite-lantern-trials-complete-challenges-to-earn-in-game-rewards">
                            <div class="grid-item">
                                <div class="background-image"
                                    style="background-image: url(&quot;https://cdn2.unrealengine.com/newsheader-1920x1080-dd0a7b3f744b.png&quot;);">
                                    <img src="https://cdn2.unrealengine.com/newsheader-1920x1080-dd0a7b3f744b.png"
                                        class="invisible-image" alt="">
                                </div>
                                <div class="grid-content">
                                    <h4 class="date">Apr 20, 2022</h4>
                                    <h1 class="title">Uncaptured Lantern Trials: Complete Challenges To Earn I...</h1>
                                </div>
                            </div>
                        </a><a title="Music callout and video player release"
                            id="grid-fortnite-music-callout-and-video-player-release"
                            class="gridItem-thirdPos col-xs-12 col-sm-6 col-md-12 col-lg-3 inView"
                            href="/fortnite/en-US/news/fortnite-music-callout-and-video-player-release">
                            <div class="grid-item">
                                <div class="background-image"
                                    style="background-image: url(&quot;https://cdn2.unrealengine.com/20br-musiccallout-thumb-4-576x576-21047a0244d4.jpg&quot;);">
                                    <img src="https://cdn2.unrealengine.com/20br-musiccallout-thumb-4-576x576-21047a0244d4.jpg"
                                        class="invisible-image" alt="">
                                </div>
                                <div class="grid-content">
                                    <h4 class="date">Apr 19, 2022</h4>
                                    <h1 class="title">Music callout and video player release</h1>
                                </div>
                            </div>
                        </a><a
                            title="Nowhere Left to Run… Unlock Prowler in the Fortnite Chapter 3 Season 2 Battle Pass!"
                            id="grid-nowhere-left-to-run-unlock-prowler-in-the-fortnite-chapter-3-season-2-battle-pass"
                            class="gridItem-small col-xs-12 col-sm-6 col-md-4 col-lg-3 inView"
                            href="/fortnite/en-US/news/nowhere-left-to-run-unlock-prowler-in-the-fortnite-chapter-3-season-2-battle-pass">
                            <div class="grid-item">
                                <div class="background-image"
                                    style="background-image: url(&quot;https://cdn2.unrealengine.com/20br-prowleroutfit-blog-thumb-576x576-101ed2d5515e.jpg&quot;);">
                                    <img src="https://cdn2.unrealengine.com/20br-prowleroutfit-blog-thumb-576x576-101ed2d5515e.jpg"
                                        class="invisible-image" alt="">
                                </div>
                                <div class="grid-content">
                                    <h4 class="date">Apr 19, 2022</h4>
                                    <h1 class="title">Unlock Prowler in the Chapter 3 Season 2 Battle Pass!</h1>
                                </div>
                            </div>
                        </a><a
                            title="Fortnite Battle Royale v20.20 Update: The Battle for Coney Crossroads + New Shotgun + More"
                            id="grid-fortnite-battle-royale-v20-20-update-the-battle-for-coney-crossroads-new-shotgun-and-more"
                            class="gridItem-small col-xs-12 col-sm-6 col-md-4 col-lg-3 inView"
                            href="/fortnite/en-US/news/fortnite-battle-royale-v20-20-update-the-battle-for-coney-crossroads-new-shotgun-and-more">
                            <div class="grid-item">
                                <div class="background-image"
                                    style="background-image: url(&quot;https://cdn2.unrealengine.com/fortnite-battle-for-coney-crossroads-1920x1080-8e5ef1830b03.jpg&quot;);">
                                    <img src="https://cdn2.unrealengine.com/fortnite-battle-for-coney-crossroads-1920x1080-8e5ef1830b03.jpg"
                                        class="invisible-image" alt="">
                                </div>
                                <div class="grid-content">
                                    <h4 class="date">Apr 19, 2022</h4>
                                    <h1 class="title">BR v20.20: Battle for Coney Crossroads + New Shotgun</h1>
                                </div>
                            </div>
                        </a><a title="Fortnite Creative v20.20 Update" id="grid-fortnite-creative-v20-20-update"
                            class="gridItem-small col-xs-12 col-sm-6 col-md-4 col-lg-3 inView"
                            href="/fortnite/en-US/news/fortnite-creative-v20-20-update">
                            <div class="grid-item">
                                <div class="background-image"
                                    style="background-image: url(&quot;https://cdn2.unrealengine.com/s18-evergreens-winterblue-thumb-576x576-cd144163fe12.png&quot;);">
                                    <img src="https://cdn2.unrealengine.com/s18-evergreens-winterblue-thumb-576x576-cd144163fe12.png"
                                        class="invisible-image" alt="">
                                </div>
                                <div class="grid-content">
                                    <h4 class="date">Apr 19, 2022</h4>
                                    <h1 class="title">Uncaptured Creative v20.20 Update</h1>
                                </div>
                            </div>
                        </a><a title="Introducing the Recently Released Discover Row in Fortnite"
                            id="grid-introducing-the-recently-released-discover-row-in-fortnite"
                            class="gridItem-large col-xs-12 col-sm-6 col-md-6 col-lg-7 inView"
                            href="/fortnite/en-US/news/introducing-the-recently-released-discover-row-in-fortnite">
                            <div class="grid-item">
                                <div class="background-image"
                                    style="background-image: url(&quot;https://cdn2.unrealengine.com/s18-evergreens-pinkyellow-blogheader-1900x600-b2ca15d3f455.png&quot;);">
                                    <img src="https://cdn2.unrealengine.com/s18-evergreens-pinkyellow-blogheader-1900x600-b2ca15d3f455.png"
                                        class="invisible-image" alt="">
                                </div>
                                <div class="grid-content">
                                    <h4 class="date">Apr 15, 2022</h4>
                                    <h1 class="title">Introducing the Recently Released Discover Row in Fort...</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="loading-icon blog-loading" style="display: none;"></div>
                <div class="loading-icon forum-thread-loading" style="display: none;"></div>
                <div class="load-more"><button class="btn btn-primary btn-load"><span>Load More</span></button></div>
            </div>
        </div>
    </div>
</div>