
                <div class="l-page__content">

                    {{!-- header --}}
                    <header class="l-masthead l-masthead--tight">
                        <div class="l-masthead__headline-prefix" style="font-size: 25px;">Settings</div>
                    </header>

                    <div id="block-mainpagecontent"  class="block block-system block-system-main-block"
                        style="margin-top: -80px;">
                        <div class=" ds-1col-filters clearfix">
                            <div class="block-region-ds-content">
                                <div class="views-element-container block block-views block-views-blocktrending-page">
                                    <div>
                                        {{>settings/index}}
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                {{!-- {{>z_footer}} --}}