<body class="fontyourface path-node page-node-type-athlete" data-aos-easing="ease" data-aos-duration="500"
    data-aos-delay="0" style="padding-bottom: 484px;">
    <a href="#main-content" class="u-visually--hidden focusable">
        Skip to main content
    </a>

    <noscript aria-hidden="true"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFBHZX5" height="0"
            width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
        <div class="l-page">

            {{>b_navbar}}

            <div class="l-page__pre-content">
                <div data-drupal-messages-fallback="" class="hidden"></div>
            </div>

            <div class="l-page__utilities">
            </div>

            <main class="l-page__main">

                <a id="main-content" tabindex="-1"></a>
                <div class="l-page__content">
                    <div id="block-mainpagecontent" class="block block-system block-system-main-block">
                        <div class="l-main">
                            <div>
                                {{!-- hero --}}
                                <div class="l-main__hero">

                                    <div class="c-hero--full"
                                        style="background-image: url(&quot;https://dmxg5wxfqgb4u.cloudfront.net/styles/background_image_xl/s3/2020-08/UFCAugust22OnTheRiseHero_0.jpg?VersionId=c2CZqqoLrin2B.dpdkdZ2UrmZzYMWxWZ&amp;h=d1cb525d&amp;itok=JJQe9Fke&quot;); transform: translateY(0px);"
                                        data-hero-state="animate">
                                        <div class="c-hero__image aos-init aos-animate" data-aos="fade"
                                            data-aos-duration="300"></div>

                                        <div class="c-hero__overlay"></div>
                                        <div class="pager__nav">
                                            <div class="pager__nav__inner"></div>
                                        </div>
                                        <div class="c-hero--full__container">
                                            <div class="c-hero--full__content ">
                                                <div class="c-hero__header">

                                                    <div class="c-hero--full__headline-prefix">
                                                        <div class="field field-name-nickname">"Demonslayer"</div>
                                                    </div>

                                                    <div class="c-hero--full__headline is-large-text">
                                                        <h1>
                                                            Mariya Agapova
                                                        </h1>

                                                    </div>

                                                    <div class="c-hero__headline-suffix tz-change-inner" data-locale=""
                                                        data-timestamp="" data-metric="">
                                                        Women's Flyweight Division
                                                        •
                                                        10-2-0 (W-L-D)

                                                    </div>
                                                </div>

                                                <div class="c-hero--full__text"></div>

                                            </div>

                                            <div class="c-hero--full__footer">
                                                <div class="c-hero__social-links">
                                                    <a class="c-hero__social-link"
                                                        href="https://facebook.com/MMA.Mashka">
                                                        <span class="c-hero__social-icon">
                                                            <svg class="c-hero__social-svg">
                                                                <title>Facebook</title>
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#facebook">
                                                                </use>
                                                            </svg>
                                                        </span>

                                                        <span class="c-hero__social-text"></span>
                                                    </a>
                                                    <a class="c-hero__social-link"
                                                        href="https://twitter.com/MMA_Mashka">
                                                        <span class="c-hero__social-icon">
                                                            <svg class="c-hero__social-svg">
                                                                <title>Twitter</title>
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#twitter">
                                                                </use>
                                                            </svg>
                                                        </span>

                                                        <span class="c-hero__social-text"></span>
                                                    </a>
                                                    <a class="c-hero__social-link"
                                                        href="https://instagram.com/MMA.Mashka">
                                                        <span class="c-hero__social-icon">
                                                            <svg class="c-hero__social-svg">
                                                                <title>Instagram</title>
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#instagram">
                                                                </use>
                                                            </svg>
                                                        </span>

                                                        <span class="c-hero__social-text"></span>
                                                    </a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="c-hero__end"></div>
                                </div>

                                {{!-- main root div --}}
                                <div class="l-main__content ">

                                    {{!-- athlete bio --}}
                                    {{>athlete_profile/athlete_bio}}

                                    {{!-- const stats/records header--}}
                                    <div class="l-listing__header stats-records__header">
                                        <h2 class="l-listing__title stats-records__title">Stats &amp; Records</h2>
                                    </div>

                                    {{!-- stats/record container --}}
                                    <div class="l-container stats-records__container">
                                        <div class="l-container__content stats-records__content">

                                            <section class="l-listing">

                                                <ul class="l-listing__group">
                                                    <li class="l-listing__item"
                                                        style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                                        <div class="c-record">
                                                            <div class="c-record__promoted">
                                                                <div class="c-record__promoted-figure">3</div>
                                                                <div class="c-record__promoted-text">Wins by Knockout
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </li>
                                                    <li class="l-listing__item"
                                                        style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                                        <div class="c-record">
                                                            <div class="c-record__promoted">
                                                                <div class="c-record__promoted-figure">5</div>
                                                                <div class="c-record__promoted-text">Wins by Submission
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </li>
                                                    <li class="l-listing__item"
                                                        style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                                        <div class="c-record">
                                                            <div class="c-record__promoted">
                                                                <div class="c-record__promoted-figure">2</div>
                                                                <div class="c-record__promoted-text">Wins by Decision
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </li>
                                                </ul>

                                                <ul class="l-listing__group athlete_bottom_stats_row">
                                                    <li class="l-listing__item"
                                                        style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                                        <div class="c-record">
                                                            <div class="c-record__promoted">
                                                                <div class="c-record__promoted-figure"></div>
                                                                <div class="c-record__promoted-text"></div>
                                                            </div>

                                                        </div>

                                                    </li>
                                                    <li class="l-listing__item"
                                                        style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                                        <div class="c-record">
                                                            <div class="c-record__promoted">
                                                                <div class="c-record__promoted-figure"></div>
                                                                <div class="c-record__promoted-text"></div>
                                                            </div>

                                                        </div>

                                                    </li>
                                                    <li class="l-listing__item"
                                                        style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                                        <div class="c-record">
                                                            <div class="c-record__promoted">
                                                                <div class="c-record__promoted-figure"></div>
                                                                <div class="c-record__promoted-text"></div>
                                                            </div>

                                                        </div>

                                                    </li>
                                                </ul>

                                            </section>
                                        </div>
                                    </div>

                                    {{!-- upcomming fights --}}
                                    <div class="l-container">

                                        <div class="view view-eva view-athlete-results view-id-athlete_results view-display-id-upcoming_fights js-view-dom-id-248be969d0e49a43bdcb307124a0c58fbbd9227767c369757bb0c9fc9d62ddb0"
                                            data-once="ajax-pager">

                                            <h2 class="l-listing__header">
                                                <div class="l-listing__title">Upcoming Fights</div>
                                            </h2>

                                            <div data-drupal-views-infinite-scroll-content-wrapper=""
                                                class="views-infinite-scroll-content-wrapper clearfix">

                                               {{>events/event_card_smaller}}
                                            </div>

                                        </div>

                                    </div>

                                    {{!-- Event results --}}
                                    <div class="l-container">

                                        <div class="view view-eva view-athlete-results view-id-athlete_results view-display-id-entity_view_1 js-view-dom-id-8aa642f6ddcd5e4effbd66c26b2ee4d32e0c5142f3646c2cb4676d88ed87a949"
                                            data-once="ajax-pager">

                                            <h2 class="l-listing__header">
                                                <div class="l-listing__title">Event Results</div>
                                            </h2>

                                            <div data-drupal-views-infinite-scroll-content-wrapper=""
                                                class="views-infinite-scroll-content-wrapper clearfix">

                                                {{>events/event_card_smaller}}
                                            </div>

                                        </div>

                                    </div>

                                    {{!-- news block --}}
                                    <div style="margin-top: 130px; margin-bottom: 80px;">

                                    {{>news_card}}
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{>z_footer}}
            </main>
        </div>

    </div>

</body>