
                                                <div class="block-region-ds-content"  style="margin-top: 150px;">
                                                    
                                                    <div>

                                                        {{!-- buttons sections --}}
                                                        <div
                                                            class="block block-ufc-events block-ufc-events-upcomingpast">

                                                            <div data-horizontal-tabs=""
                                                                class="horizontal-tabs clearfix">
                                                                <ul data-horizontal-tabs-list=""
                                                                    class="horizontal-tabs-list" style="margin-bottom: -100px;">


                                                                </ul>
                                                                <div class="c-listing__wrapper--horizontal-tabs horizontal-tabs-panes"
                                                                    data-horizontal-tabs-panes="">



                                                                    {{!-- shop --}}
                                                                    <details
                                                                        class="main-card js-form-wrapper form-wrapper horizontal-tabs-pane"
                                                                        id="events-list-upcoming" open="open" style="padding-top: 90px;"
                                                                        data-once="details">
                                                                        <summary role="button"
                                                                            aria-controls="events-list-upcoming"
                                                                            aria-expanded="true" aria-pressed="true">
                                                                            Shop<span class="summary"></span>
                                                                        </summary>
                                                                        <div class="details-wrapper">

                                                                            <div
                                                                                class="view view-eva view-event-fights view-id-event_fights view-display-id-entity_view_1 js-view-dom-id-00fba68aff4175fb7395c4abf80d66fa4a799d12338d21b3568008b4d4e0581a">

                                                                                <section
                                                                                    class="l-listing--stacked--full-width">

                                                                                    {{!-- product cards --}}
                                                                                    {{>shop/product_card}}

                                                                                </section>

                                                                            </div>

                                                                        </div>
                                                                    </details>


                                                                  

                                                                    {{!-- tickets --}}
                                                                    <details
                                                                        class="main-card js-form-wrapper form-wrapper horizontal-tabs-pane horizontal-tab-hidden"
                                                                        id="events-list-past" open="open" style="padding-top: 90px;"
                                                                        data-once="details">
                                                                        <summary role="button"
                                                                            aria-controls="events-list-past"
                                                                            aria-expanded="true" aria-pressed="true">
                                                                            Tickets<span class="summary"></span>
                                                                        </summary>

                                                                        <div class="details-wrapper">

                                                                            <div
                                                                                class="view view-eva view-event-fights view-id-event_fights view-display-id-entity_view_1 js-view-dom-id-00fba68aff4175fb7395c4abf80d66fa4a799d12338d21b3568008b4d4e0581a">

                                                                                <section
                                                                                    class="l-listing--stacked--full-width">

                                                                                    {{!-- product cards --}}
                                                                                    {{>shop/product_card}}

                                                                                </section>

                                                                            </div>

                                                                        </div>


                                                                    </details>

                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>




                                                </div>