<body class="fontyourface path-trending" data-aos-easing="ease" data-aos-duration="500" data-aos-delay="0"
    style="padding-bottom: 484px;">
    <a href="#main-content" class="u-visually--hidden focusable">
        Skip to main content
    </a>

    <noscript aria-hidden="true"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFBHZX5" height="0"
            width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
        <div class="l-page--user">

            {{>b_navbar}}

            <div class="l-page__pre-content">
                <div data-drupal-messages-fallback="" class="hidden"></div>

            </div>

            <div class="l-page__utilities">

            </div>

            <main class="l-page__main">
                <a id="main-content" tabindex="-1"></a>

                <div class="l-page__content" style="margin-top: 65px;">

                    {{!-- header --}}
                    <header class="l-masthead l-masthead--tight">

                        {{!-- <div class="l-masthead__headline-prefix">Trending</div> --}}
                        <h1>
                            <div class="l-masthead__headline ">STORE</div>
                        </h1>

                    </header>

                    <div id="block-mainpagecontent" class="block block-system block-system-main-block"
                        style="margin-top: -80px;">
                        <div class="ds-1col ds-1col-filters clearfix">
                            <div class="block-region-ds-content">
                                <div class="views-element-container block block-views block-views-blocktrending-page">
                                    <div>
                                        <div class="view-trending view-id-trending view-display-id-page js-view-dom-id-83c32911818b33ce2a99eee162e437c8486759426f974f52ff5630690e47314b"
                                            data-once="ajax-pager">
                                           

                                        {{!-- tabs categories --}}
                                        {{>shop/store}}

                                            </div>

                                           {{!-- product card
                                           {{>shop/product_card}} --}}

                                            {{!-- "load more" button --}}
                                            <ul class="js-pager__items pager"
                                                data-drupal-views-infinite-scroll-pager="">
                                                <li class="pager__item">
                                                    <a class="button" href="?created=1&amp;page=1"
                                                        title="Load more items" rel="next">Load More</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <aside class="l-page_filters">
                                <div class="facet-filter-top-nav">
                                    <div class="facet-filter__inner">
                                        <span class="facet-tnav-label">Filter <span
                                                class="facet-tnav-label--white">44096 Stories</span></span>
                                    </div>
                                    <div class="facet-filter__close">

                                        <span class="e-icon"><svg class="e-icon__svg" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#close">
                                                </use>
                                            </svg></span>
                                    </div>
                                </div>
                                <div class="facets-blks-wrp">
                                    <div class="filter-shade"></div>
                                    <div class="sidebar-first-inner-wrp">
                                        <div class="block-region-ds-filters">
                                            <div
                                                class="facet-inactive block-facets-ajax js-facet-block-id-facet_block:trending_category block-facet--links block block-facets block-facet-blocktrending-category">

                                                <div class="block-facets__header">
                                                    <div class="facet-hwrp">
                                                        <span class="facet-label">BY CATEGORY</span>
                                                        <div class="js-cfilters facets-cfs"><span
                                                                class="cfs-label">All</span></div>
                                                    </div>

                                                </div>

                                                <div class="facets-widget-links">
                                                   <ul data-drupal-facet-id="trending_category"
                                                        data-drupal-facet-alias="category"
                                                        class="facet-inactive js-facets-links item-list__links">
                                                        <li>All</li>
                                                        <li class="facet-item"><a
                                                                href="/shop?#edit-group-prelims"
                                                                rel="nofollow" data-drupal-facet-item-id="category-6882"
                                                                data-drupal-facet-item-value="6882"
                                                                data-drupal-facet-item-count="490"><span
                                                                    class="facet-item__value">Announcements</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>

                                            <div
                                                class="facet-inactive block-facets-ajax js-facet-block-id-facet_block:trending_type block-facet--links block block-facets block-facet-blocktrending-type">

                                                <div class="block-facets__header">
                                                    <div class="facet-hwrp">
                                                        <span class="facet-label">BY TYPE</span>
                                                        <div class="js-cfilters facets-cfs"><span
                                                                class="cfs-label">All</span></div>
                                                    </div>

                                                </div>

                                                 <div class="facets-widget-links">
                                                    <ul data-drupal-facet-id="trending_type"
                                                        data-drupal-facet-alias="type"
                                                        class="facet-inactive js-facets-links item-list__links">
                                                        <li>All</li>
                                                        <li class="facet-item"><a
                                                                href="/trending/all?filters%5B0%5D=type%3Aarticle"
                                                                rel="nofollow" data-drupal-facet-item-id="type-article"
                                                                data-drupal-facet-item-value="article"
                                                                data-drupal-facet-item-count="25909"><span
                                                                    class="facet-item__value">Article</span>
                                                            </a>
                                                        </li>
                                                    </ul>

                                                 </div>

                                            <div
                                                class="facet-inactive block-facets-ajax js-facet-block-id-facet_block:trending_video_length block-facet--links block block-facets block-facet-blocktrending-video-length">

                                                <div class="block-facets__header">
                                                    <div class="facet-hwrp">
                                                        <span class="facet-label">BY LENGTH</span>
                                                        <div class="js-cfilters facets-cfs"><span
                                                                class="cfs-label">All</span></div>
                                                    </div>

                                                </div>

                                                <div class="facets-widget-links">
                                                    <ul data-drupal-facet-id="trending_video_length"
                                                        data-drupal-facet-alias="video_length"
                                                        class="facet-inactive js-facets-links item-list__links">
                                                        <li>All</li>
                                                        <li class="facet-item">
                                                            <a href="/trending/all?filters%5B0%5D=video_length%3Ashort"
                                                                rel="nofollow"
                                                                data-drupal-facet-item-id="video-length-short"
                                                                data-drupal-facet-item-value="short"
                                                                data-drupal-facet-item-count="3783"><span
                                                                    class="facet-item__value">
                                                                    <div class="c-video-filter">
                                                                        <div class="c-video-filter__title">Short</div>
                                                                        <div class="c-video-filter__length">&lt; 4 min
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="c-facets-abutton">

                                        <a class="e-button--medium "><span class="e-button__text">

                                                Apply
                                            </span></a>
                                    </div>
                                </div>
                            </aside>

                        </div>
                    </div>
                </div>
                {{>z_footer}}
            </main>
        </div>

    </div>

</body>