<div class="view-items-outer-wrp">
    <div class="view-items-wrp">
        <div data-drupal-views-infinite-scroll-content-wrapper=""
            class="views-infinite-scroll-content-wrapper clearfix">

            {{!-- all items/news blocks --}}
            <div class="trending-page-grid trending-page">

                {{!-- row 1 1st el--}}
                <div class="grid-item position_1 size_1x1">

                    <a data-aos="fade-up" class="c-card--grid-card-trending grid_card_image_text aos-init aos-animate"
                        href="/news/fight-fight-preview-ufc-272-covington-vs-masvidal">

                        <div class="c-card--grid-card-trending__image">

                            <div
                                class="field field--name-thumbnail field--type-entity-reference field--label-hidden field__item">
                                <div class="layout layout--onecol">
                                    <div class="layout__region layout__region--content">
                                        <img src="/public/images/kick.jpg"
                                            alt="this is alt text that describes the picture in case it cannot load for whatever reason."
                                            loading="lazy" width="5088" height="3392">

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="c-card--grid-card-trending__3-wrapper">
                            {{!-- <div class="c-card--grid-card-trending__info">
                                <span class="c-card--grid-card-trending__info-prefix">Fight
                                    Coverage</span>
                                <span class="c-card--grid-card-trending__info-suffix">
                                    <div
                                        class="field field--name-datetime field--type-datetime field--label-hidden field__item">
                                        17 hours ago</div>
                                </span>
                            </div> --}}

                            <div class="c-card--grid-card-trending__2-wrapper">

                                <h3 class="c-card--grid-card-trending__headline e-t5">

                                    Fight By Fight Preview | UFC 272:
                                    Covington vs…
                                </h3>

                                {{!-- <div class="c-card--grid-card-trending__body">

                                    <div
                                        class="clearfix text-formatted field field--name-teaser field--type-text-long field--label-hidden field__item">
                                        <p>A Welterweight Grudge Match
                                            Headlines This Epic Vegas
                                            Pay-Per-View March 5. Let's
                                            Break It Down.</p>
                                    </div>

                                </div> --}}

                            </div>

                        </div>

                    </a>

                </div>

                {{!-- 2nd element --}}
                <div class="grid-item position_2 size_1x1">

                    <a data-aos="fade-up" class="c-card--grid-card-trending grid_card_image_text aos-init aos-animate"
                        href="/news/scorecard-ufc-fight-night-makhachev-vs-green-tsarukyan-bahamondes-mckinney-nunes">

                        <div class="c-card--grid-card-trending__image">

                            <div
                                class="field field--name-thumbnail field--type-entity-reference field--label-hidden field__item">
                                <div class="layout layout--onecol">
                                    <div class="layout__region layout__region--content">
                                        <img src="/public/images/punch.jpg"
                                            alt="this is alt text that describes the picture in case it cannot load for whatever reason."
                                            loading="lazy" width="1920" height="1080">

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="c-card--grid-card-trending__3-wrapper">

                            {{!-- <div class="c-card--grid-card-trending__info">
                                <span class="c-card--grid-card-trending__info-prefix">Athletes</span>
                                <span class="c-card--grid-card-trending__info-suffix">
                                    <div
                                        class="field field--name-datetime field--type-datetime field--label-hidden field__item">
                                        1 week ago</div>
                                </span>
                            </div> --}}

                            <div class="c-card--grid-card-trending__2-wrapper">

                                <h3 class="c-card--grid-card-trending__headline e-t5">

                                    The Scorecard | UFC Fight Night:
                                    Makhachev vs Green
                                </h3>

                                {{!-- <div class="c-card--grid-card-trending__body">

                                    <div
                                        class="clearfix text-formatted field field--name-teaser field--type-text-long field--label-hidden field__item">
                                        <p>See Which Fighters Made The Most
                                            Out Of Their Opportunity On UFC
                                            Fight Night: Makhachev vs Green
                                        </p>
                                    </div>

                                </div> --}}

                            </div>

                        </div>

                    </a>

                </div>
                <div class="grid-item position_3 size_1x1">

                    <a data-aos="fade-up" class="c-card--grid-card-trending grid_card_image_text aos-init aos-animate"
                        href="/news/public-events-schedule-ufc-272-covington-vs-masvidal-t-mobile-arena-las-vegas">

                        <div class="c-card--grid-card-trending__image">

                            <div
                                class="field field--name-thumbnail field--type-entity-reference field--label-hidden field__item">
                                <div class="layout layout--onecol">
                                    <div class="layout__region layout__region--content">
                                        <img src="/public/images/knee.jpg"
                                            alt="this is alt text that describes the picture in case it cannot load for whatever reason."
                                            loading="lazy" width="1920" height="1080">

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="c-card--grid-card-trending__3-wrapper">

                            {{!-- <div class="c-card--grid-card-trending__info">
                                <span class="c-card--grid-card-trending__info-prefix">Announcements</span>
                                <span class="c-card--grid-card-trending__info-suffix">
                                    <div
                                        class="field field--name-datetime field--type-datetime field--label-hidden field__item">
                                        1 day ago</div>
                                </span>
                            </div> --}}

                            <div class="c-card--grid-card-trending__2-wrapper">

                                <h3 class="c-card--grid-card-trending__headline e-t5">

                                    Public Events Schedule | UFC 272:
                                    Covington vs…
                                </h3>

                                {{!-- <div class="c-card--grid-card-trending__body">

                                    <div
                                        class="clearfix text-formatted field field--name-teaser field--type-text-long field--label-hidden field__item">
                                        <p>UFC Is Back In The Fight Capital
                                            Of Las Vegas For UFC 272:
                                            Covington vs Masvidal. Don't
                                            Miss A Single Event!</p>
                                    </div>

                                </div> --}}

                            </div>

                        </div>

                    </a>

                </div>

            </div>
        </div>
    </div>

</div>