<div class="c-htw-alt-cards aos-init aos-animate" data-aos="slide-up">
                  
  <div class="c-htw-alt-cards__area-right c-htw-alt-cards__area aos-init aos-animate" data-aos="slide-up">
        <div class="c-htw-alt-cards__logo--pre-headline aos-init aos-animate" data-aos="slide-up"></div>
        <div class="c-htw-alt-cards__title--pre-headline aos-init aos-animate" data-aos="slide-up">
      
            <div class="field field--name-headline field--type-string field--label-hidden field__item">Azam Tv</div>
      
    </div>

    <div class="c-htw-alt-cards__text--pre-headline aos-init aos-animate" data-aos="slide-up">
              
            <div class="clearfix text-formatted field field--name-text field--type-text-long field--label-hidden field__item"><p>Fightlore chronicles the fables, legends and untold story from combat sports and martial arts. We’ll choose stories that have become part of the sport’s oral history, and we’ll bring them to life visually through animation, telling these tales in complete and compelling ways.</p>
</div>
      
    </div>

    <div class="c-htw-alt-cards__btn aos-init" data-aos="slide-up">
      

<a href="https://azamtv.com/video/140081" target="_blank" class="e-button--black "><span class="e-button__text">
    
    Watch Now
  </span></a>
    </div>
  </div>

  <div class="c-htw-alt-cards__image-right c-htw-alt-cards__image aos-init aos-animate" data-aos="slide-up">
    
            <div class="field field--name-media field--type-entity-reference field--label-hidden field__item">  <img src="/public/images/azamsports.jpg" alt="Thumbnail" title="fightlore.jpg" loading="lazy" class="image-style-mat-620-x-520" width="620" height="520">

</div>
      
  </div>

 
    
              
  <div class="c-htw-alt-cards__area-left c-htw-alt-cards__area aos-init" data-aos="slide-up">
        <div class="c-htw-alt-cards__logo--pre-headline aos-init" data-aos="slide-up"></div>
        <div class="c-htw-alt-cards__title--pre-headline aos-init" data-aos="slide-up">
      
            <div class="field field--name-headline field--type-string field--label-hidden field__item">New Series: Year of the Fighter</div>
      
    </div>

    <div class="c-htw-alt-cards__text--pre-headline aos-init" data-aos="slide-up">
              
            <div class="clearfix text-formatted field field--name-text field--type-text-long field--label-hidden field__item"><p>Year of the Fighter recounts the seminal 12-month span for the ORION’s greatest fighters. Through fight recaps and behind-the scenes features, and narrated in the athlete’s own words in single year, each episode relives the single year that changed a fighter’s life forever.</p>
</div>
      
    </div>

    <div class="c-htw-alt-cards__btn aos-init" data-aos="slide-up">
      

<a href="" target="_blank" class="e-button "><span class="e-button__text">
    
    Watch now
  </span></a>
    </div>
  </div>

  <div class="c-htw-alt-cards__image-left c-htw-alt-cards__image aos-init" data-aos="slide-up">
    
            <div class="field field--name-media field--type-entity-reference field--label-hidden field__item">  <img src="/public/images/teach2.jpg" alt="Thumbnail" title="yearofthefighter.jpg" loading="lazy" class="image-style-mat-620-x-520" width="620" height="520">

</div>
      
  </div>

 
    

  </div>