
                                <div class="l-main__content ">
                                    <div class="l-main__system-content">
                                        <div id="block-mainpagecontent"
                                            class="block block-system block-system-main-block">
                                            <div class="ds-1col ds-1col-filters clearfix">

                                                <div class="block-region-ds-content row">
                                                    <div class="col-12">
                                                    <div class="block block-core block-page-title-block col-12">

                                                        <h1 class="page-title">Events</h1>

                                                    </div>
                                                    {{>hero1btn}}
                                                    </div>

                                                    {{!-- hero --}}

                                                    {{!-- action details --}}
                                                  

                                                    <div class="col-6 offset-3"  style="margin-top: 105px;">

                                                        {{!-- upcoming past events --}}
                                                        <div
                                                            class="block block-ufc-events block-ufc-events-upcomingpast">

                                                            <div data-horizontal-tabs=""
                                                                class="horizontal-tabs clearfix">
                                                                <ul data-horizontal-tabs-list=""
                                                                    class="horizontal-tabs-list">

                                                                </ul>
                                                                <div class="c-listing__wrapper--horizontal-tabs horizontal-tabs-panes"
                                                                    data-horizontal-tabs-panes="">

                                                                    {{!-- upcoming events --}}
                                                                    <details
                                                                        class="main-card js-form-wrapper form-wrapper horizontal-tabs-pane"
                                                                        id="events-list-upcoming" open="open"
                                                                        data-once="details">
                                                                        <summary role="button"
                                                                            aria-controls="events-list-upcoming"
                                                                            aria-expanded="true" aria-pressed="true" style="color: blue;">
                                                                            Events<span class="summary"></span>
                                                                        </summary>
                                                                        <div class="details-wrapper">

                                                                            <div class="view view-events-upcoming-past-solr view-id-events_upcoming_past_solr view-display-id-upcoming js-view-dom-id-91e481d8e5f62f17de33c77a0cd4f960cdb5aaa9c8e8a3636a8e7debb8eae0b7"
                                                                                data-once="ajax-pager">

                                                                                <div class="view-filters">
                                                                                    <div
                                                                                        class="athletes-all-current-filters">

                                                                                        <div
                                                                                            class="filter-control filter-options-container invisible">
                                                                                            <div
                                                                                                class="filter-control-header">
                                                                                                <span
                                                                                                    class="filter-number">0</span>
                                                                                                <span
                                                                                                    class="filter-dropdown-label">
                                                                                                    Filters</span>
                                                                                                <span
                                                                                                    class="btn-filter-open">
                                                                                                    <i
                                                                                                        class="icon-triangle-down"></i>
                                                                                                </span>
                                                                                            </div>

                                                                                            <ul
                                                                                                class="filter-control-list filters-ul">
                                                                                            </ul>
                                                                                        </div>
                                                                                        {{!-- Events count --}}
                                                                                    </div>
                                                                                    <div class="althelete-total" style="font-family: stolzl;">{{size}}
                                                                                        Events
                                                                                    </div>
                                                                                </div>

                                                                                <div class="l-container">
                                                                                    <div
                                                                                        class="l-container__content--full">

                                                                                        <div data-drupal-views-infinite-scroll-content-wrapper=""
                                                                                            class="views-infinite-scroll-content-wrapper clearfix">

                                                                                            {{!-- event card section
                                                                                            --}}
                                                                                            {{> events/event_card}}
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                                {{!-- container news --}}

                                                                            </div>

                                                                        </div>
                                                                    </details>

                                                                    {{!-- past events --}}
                                                                    <details
                                                                        class="main-card js-form-wrapper form-wrapper horizontal-tabs-pane horizontal-tab-hidden"
                                                                        id="events-list-past" open="open"
                                                                        style="display: none;" data-once="details">
                                                                        <summary role="button"
                                                                            aria-controls="events-list-past"
                                                                            aria-expanded="true" aria-pressed="true" style="color: blue;">
                                                                            Upcoming</summary>
                                                                        <div class="details-wrapper">

                                                                            <div class="view view-events-upcoming-past-solr view-id-events_upcoming_past_solr view-display-id-past js-view-dom-id-96c6fe9b0907ae71a3f4a269d4f9b25b8bdd21a0ab0b65c48d0e4c7149a2e4fb"
                                                                                data-once="ajax-pager">

                                                                                <div class="view-filters">
                                                                                    <div
                                                                                        class="athletes-all-current-filters">

                                                                                        <div
                                                                                            class="filter-control filter-options-container invisible">
                                                                                            <div
                                                                                                class="filter-control-header">
                                                                                                <span
                                                                                                    class="filter-number">0</span>
                                                                                                <span
                                                                                                    class="filter-dropdown-label">
                                                                                                    Filters</span>
                                                                                                <span
                                                                                                    class="btn-filter-open">
                                                                                                    <i
                                                                                                        class="icon-triangle-down"></i>
                                                                                                </span>
                                                                                            </div>

                                                                                            <ul
                                                                                                class="filter-control-list filters-ul">
                                                                                            </ul>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="althelete-total">5
                                                                                        Events
                                                                                    </div>
                                                                                </div>

                                                                                <div class="l-container">
                                                                                    <div
                                                                                        class="l-container__content--full">

                                                                                        <div data-drupal-views-infinite-scroll-content-wrapper=""
                                                                                            class="views-infinite-scroll-content-wrapper clearfix">



                                                                                             {{> events/event_card}}
                                                                                        </div>

                                                                                    </div>
                                                                                </div>

                                                                                <ul class="js-pager__items pager"
                                                                                    data-drupal-views-infinite-scroll-pager="">
                                                                                    <li class="pager__item">
                                                                                        <a class="button" href="?page=1"
                                                                                            title="Load more items"
                                                                                            rel="next">Load More</a>
                                                                                    </li>
                                                                                </ul>

                                                                            </div>

                                                                        </div>
                                                                    </details>

                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                   {{!-- {{>news_featured}} --}}
                                                   {{!-- <div style="margin-bottom: 70px;">

                                                   {{>news_card}}
                                                   </div> --}}


                                                   

                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>