<div class="l-page__content" style="margin-top:150px;">
      <h1 class="title-main" style="text-align:center;">Athlete Rankings</h1>
      <div class="l-main">
            <div style="margin-top: -70px;">
                  <div>

                        <div class="l-main__content ">

                              <div id="block-mainpagecontent" class="block block-system block-system-main-block">
                                    <div class="block-region-top">
                                          <div class="l-container">
                                                <div class="l-container__content">
                                                      <div
                                                            class="block block-views block-views-blockathlete-rankings-block-1">

                                                            <div class="jsx-3775272200 fighter-filters">
                                                                  <div class="jsx-3775272200 fighter-filter"><label
                                                                              for="search_fighter_by_name"
                                                                              class="jsx-3775272200 fighter-filter-title">NAME</label>
                                                                              <input
                                                                              type="text"
                                                                              class=" form-control"
                                                                              value=""></div>
                                                                  <div class="jsx-3775272200 fighter-filters-wc-style form-group">
                                                                          <select class="form-control select2"><option selected value="all">All</option>
                                                                                                   <option  value="">Karate</option>
                                                                                                   <option  value="">Kravmaga</option>
                                                                                                   <option  value="">Aikido</option>
                                                                                             </select>
                                                                  </div>
                                                            </div>


                                                            <div class="clearfix view view-athlete-rankings view-id-athlete_rankings view-display-id-block_1 js-view-dom-id-32d03c6f22f9eb62e693d10a8670451dff6f5cc304f1e71f7065046b247c5945"
                                                                  data-once="ajax-pager">

                                                                  {{>ranking_pallet}}

                                                            </div>

                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>

                        </div>

                  </div>

            </div>

      </div>
</div>