<form method="POST" class="d-block ajaxForm" action="/settings/about/update/sport" enctype="application/x-www-form-urlencoded">
    {{#each sport}}
    <div class="form-row">
        <input type="hidden" name="id" id="id" value="{{id}}">
         <div class="form-group col-md-12">
            <label for="heading" style="font-size: 25px;">Sport About</label>
        </div>

        <div class="form-group col-md-12">
        <img src="{{imageUrl}}" width="200vw" style="margin-bottom: 10px;">
            <label for="imageUrl">MMA Image</label>
            <div class="custom-file-upload">
                <input type="file" class="form-control" id="imageUrl" name = "imageUrl">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label for="details">About Details</label>
            <textarea class="form-control" id="details"  name="details" placeholder="Article here..." style="height:60vh;">{{details}}</textarea>
        </div>
        <div class="form-group spinner hidden col-md-12">
                <div class="spinner-border" style="margin-left:45%;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
        </div>  
        <div class="form-group  col-md-12">
            <button class="btn btn-block btn-primary" type="submit">update about sport</button>
        </div>
    </div>
    {{/each}}
</form>

<script>
    $(".ajaxForm").submit(function (e) {
        $(".spinner").removeClass("hidden");
        e.preventDefault();
        var form = $(this);
        //alert('here')
        ajaxSubmit(e, form, showAllAboutSport);
    });
</script>